<div class="row_panel_build">
  <!--Row-->
  <div class="row">
    <div class="col-xs-4 col-md-2" id="process">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <input type="hidden" id="step" value="step1">

        <div class="caption">
          <p>Gestão de Documentos</p>
        </div>
      </a>
    </div>

    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Parceiros</p>
        </div>
      </a>
    </div>

    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Commodities</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Manutenção</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Qualidade</p>
        </div>
      </a>
    </div>

    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão Financeira</p>
        </div>
      </a>
    </div>
  </div>
  <!--Row-->
  <div class="row">
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center" id="master_process">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Controladoria e Custos</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center" id="master_process">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão Tributos</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Tesouraria</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão Ambiental</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Projetos e Investimentos</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Planejamento e controle</p>
        </div>
      </a>
    </div>
  </div>
  <!--Row-->
  <div class="row">
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Suprimentos</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Industrialização</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Comercialização</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Transportes</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <div class="caption">
          <p>Gestão de Riscos e Conformidades</p>
        </div>
      </a>
    </div>
    <div class="col-xs-4 col-md-2">
    </div>
  </div>
</div>

<div class="row row-horizon" id="row_process_list">
  <div class="row_panel_process" style="display: none;">
    <div class="col-xs-4 col-md-2">
      <a href="#" class="thumbnail text-center">
        <%= image_tag("dummy.png") %>
        <input type="hidden" id="step" value="step2">

        <div class="caption">
          <p>Gestão de Documentos</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 ">
      <div class="list_process">
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
      </div>
      <div class="list_process">
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
      </div>
      <div class="list_process">
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
      </div>
      <div class="list_process">
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
      </div>
      <div class="list_process">
        <div class="list-group">
          <button type="button" class="list-group-item">Cras justo odio</button>
          <button type="button" class="list-group-item">Dapibus ac facilisis in</button>
          <button type="button" class="list-group-item">Morbi leo risus</button>
          <button type="button" class="list-group-item">Porta ac consectetur ac</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
          <button type="button" class="list-group-item">Vestibulum at eros</button>
        </div>
      </div>
    </div>
   </div>
</div>