<div class="row">
  <div class="col-xs-4 col-md-2" id="row_panel_process">
    <%= link_to "Cancel", :back, class: "btn btn-default next" %>
  </div>
</div>
<hr>
<div class="row">
  <%= form_tag create_ajax_value_chains_path, id: 'value_chains_form', method: :get do %>
      <div class="col-xs-4 col-md-2" id="value_chain_process">
        <a href="#" class="thumbnail text-center">
          <%= hidden_field_tag 'script_id', @script_id, id: 'script_id' %>
          <%= hidden_field_tag 'sub_action', @sub_action, id: 'script_id' %>
          <%= hidden_field_tag 'step', '1' %>
          <%= image_tag("build.png") %>
          <div class="caption">
            <p><%= @process_module.description %></p>
          </div>
        </a>
        <input type="hidden" name="process[][id]" id="process_id" value="<%= @process_module.id %>">
      </div>
      <div class="col-xs-10">
        <div class="row row-horizon" id="list_process_chain">
        </div>
      </div>
  <% end %>
</div>


