<div id="wrapper">
  <%= render 'layouts/side_bar' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h2>Process Script : <%= @script.description %> </h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class="btn-group pull-right">
                  <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
                    <i class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></i>
                  </a>
                </div>
                <span>Values Chain</span>
              </h4>
            </div>
            <!-- panel acordion -->
            <div id="accordionOne" class="panel-collapse collapse">
              <div class="panel-body" id="breadcrumb_list">
                <%= render 'breadcrumb_value_chain' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <%= link_to contributor_members_path, :class => 'btn btn-default' do %>
              <i class="fa fa-chevron-left"></i> Scripts
          <% end %>
          <%= link_to 'Cancel', contributor_members_path, :class => 'btn btn-default' %>
          <%= link_to 'Edit Script', edit_script_path(:id => @script.id), :class => 'btn btn-default' %>
          <%= link_to 'Edit Additional Information', edit_additional_information_scripts_path(:id => @script.id), :class => 'btn btn-default' %>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <%= render 'build_process' %>
      </div>
    </div>
  </div>
</div>