<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name"><%= image_tag 'login/logo-login.png' %></h1>
    </div>

    <div>
      <h2 class="font-bold"><%= t 'labels.devise.resend_confirmation_instrucions' %></h2>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, class: 'm-t'}) do |f| %>
          <%= devise_error_messages! %>
          <% if alert.present? %>
              <div class="alert alert-danger">
                <%= alert %>
              </div>
          <% end %>
          <% if notice.present? %>
              <div class="alert alert-success">
                <%= notice %>
              </div>
          <% end %>
          <%= f.label 'Email:' %><br/>
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control' %>
          <br>
          <%= f.submit "#{t 'labels.devise.resend_confirmation_instrucions'}", class: 'btn btn-primary block full-width m-b' %>
      <% end %>
      <div>
        <%= link_to 'Ja possui conta?', '/users/sign_in', :class => 'btn btn-success block full-width m-b' %>
      </div>
      <p class="m-t">
        <small>Klustter Script Inovation &copy; 2016</small>
      </p>
    </div>
  </div>
</div>
