<div id="wrapper">
  <div class="container">
    <%= bootstrap_form_for(resource_name, url: registration_path(resource_name), :html => {:role => 'form'}) do |f| %>
        <div class="row row-centered">
          <p class="text-center">

          <h3>Sign up</h3></p>
          <%= devise_error_messages! %>
        </div>
        <%= f.fields_for :member_attributes do |member| %>
            <div class="row  row-centered">
              <div class="col-lg-6 col-centered ">
                <%= member.text_field :member_name, label: 'Name:', class: 'form-control', :autofocus => true %>
              </div>
            </div>
            <div class="row  row-centered">
              <div class="col-lg-6 col-centered">
                <%= member.text_field :member_last_name, label: 'Last Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row row-centered">
              <div class="col-lg-6 col-centered">
                <label>Profile:</label>
              </div>
            </div>
            <div class="row row-centered">
              <% MemberType.all.each do |type| %>
                  <div class="col-lg-2 col-centered">
                    <%= member.radio_button :member_type_id, type.id, label: "#{type.description.camelize}", inline: true %>
                  </div>
              <% end %>
            </div>
            <br>

            <div class="row row-centered">
              <div class="col-lg-6 col-centered">
                <%= member.text_field :cpf, label: 'CPF:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered">
              <div class="col-lg-6 col-centered">
                <%= member.text_field :cnpj, label: 'CNPJ:', class: 'form-control' %>
              </div>
            </div>
            <div class="row row-centered">
              <div class="col-lg-6 col-centered">
                <%= member.                                                                                                                                                                                                                                                                                                                                                                                                                                 collection_select :bank_id, Bank.all, :id, :description, {prompt: "Please Select ..."}, label: "Choose Bank:" %>
              </div>
            </div>
            <div class="row  row-centered">
              <div class="col-lg-1 col-centered">
                <%= member.text_field :bank_ag, label: 'Ag:', class: 'form-control' %>
              </div>
              <div class="col-lg-4 col-centered">
                <%= member.text_field :bank_cc, label: 'Cc:', class: 'form-control' %>
              </div>
              <div class="col-lg-1 col-centered">
                <%= member.text_field :bank_cc_digit, label: 'Digit:', class: 'form-control' %>
              </div>
            </div>
        <% end %>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.email_field :email, label: 'Email:', class: 'form-control' %>
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
        <div class="row row-centered">
          <div class="col-lg-2 col-centered"></div>
          <div class="col-lg-2 col-centered">
            <%= f.submit 'Sign up', class: 'btn btn-success btn-block' %>
          </div>
          <div class="col-lg-2 col-centered"></div>
        </div>
        <%= f.hidden_field :name %>
    <% end %>
  </div>
</div>
