<div id="wrapper">
  <div class="container">
    <%= bootstrap_form_for(resource_name, url: registration_path(resource_name), :html => {:role => 'form', id: 'singup_form'}) do |f| %>
        <div class="row row-centered">
          <p class="text-center">

          <h3>Sign up</h3></p>
          <div class="row  row-centered">
            <div class="col-lg-6 col-centered ">
              <%= devise_error_messages! %>
            </div>
          </div>
        </div>
        <%= f.fields_for :member_attributes do |member| %>
            <div class="row row-centered">
              <div class="col-lg-6 col-centered">
                <label>Profile: <a href="#" data-toggle="modal" data-target="#help_modal">?</a></label>
              </div>
            </div>
            <div class="row row-centered">
              <% MemberType.all.each_with_index do |type, index| %>
                  <% if type.description != Member::GOD %>
                      <div class="col-lg-2 col-centered">
                        <%= member.radio_button :member_type_id, type.id, label: "#{type.description.camelize}", inline: true, onclick: "form_singup_member('#{type.description}')", checked: index == 0 ? true : false %>
                      </div>
                  <% end %>
              <% end %>
            </div>
            <br>

            <div class="row  row-centered hidden" id="name">
              <div class="col-lg-6 col-centered ">
                <%= member.text_field :member_name, label: 'Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered hidden" id="company_name">
              <div class="col-lg-6 col-centered ">
                <%= member.text_field :company_name, label: 'Company Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered hidden" id="last_name">
              <div class="col-lg-6 col-centered">
                <%= member.text_field :member_last_name, label: 'Last Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered hidden" id="birthday">
              <div class="col-lg-6 col-centered">
                <%= member.date_select :birthday, label: 'Birthday:' %>
              </div>
            </div>
            <div class="row row-centered hidden" id="cpf">
              <div class="col-lg-6 col-centered">
                <%= member.text_field :cpf, label: 'CPF:', class: 'form-control', id: 'cpf_field' %>
              </div>
            </div>
            <div class="row row-centered hidden" id="cnpj">
              <div class="col-lg-6 col-centered">
                <%= member.text_field :cnpj, label: 'CNPJ:', class: 'form-control' %>
              </div>
            </div>
            <div class="row row-centered hidden" id="select_bank">
              <div class="col-lg-6 col-centered">
                <%= member.collection_select :bank_id, Bank.all, :id, :description, {prompt: "Please Select ..."}, label: "Choose Bank:" %>
              </div>
            </div>
            <div class="row  row-centered hidden" id="bank_cc">
              <div class="col-lg-1 col-centered">
                <%= member.text_field :bank_ag, label: 'Ag:', class: 'form-control' %>
              </div>
              <div class="col-lg-4 col-centered">
                <%= member.text_field :bank_cc, label: 'Cc:', class: 'form-control' %>
              </div>
              <div class="col-lg-1 col-centered">
                <%= member.text_field :bank_cc_digit, label: 'Digit:', class: 'form-control' %>
              </div>
            </div>
        <% end %>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered" id="workplaces">
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.email_field :email, label: 'Email:', class: 'form-control' %>
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
        <div class="row row-centered">
          <div class="col-lg-2 col-centered"></div>
          <div class="col-lg-2 col-centered">
            <%= f.submit 'Sign up', class: 'btn btn-success btn-block' %>
          </div>
          <div class="col-lg-2 col-centered"></div>
        </div>
    <% end %>
  </div>
</div>
<div id="help_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Profiles:</h4>
      </div>
      <div class="modal-body">
        <p class="lead"> Se você pretente criar scripts afim de comercializar selecione a opção
          <strong>contributor</strong>
        </p>

        <p class="lead"> Se você pretende comprar scripts para utiliza-los em seus sistemas selecione a opção
          <strong>customer</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>