<div class="text-center loginscreen   animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name">K</h1>
    </div>
    <h3>Register to Klustter</h3>

    <p>Create account to see it in action.</p>
    <%= simple_form_for(@user, :html => {class: 'form-horizontal', id: 'singup_form'}) do |f| %>
        <div class="row row-centered">
          <p class="text-center">

          <h3>Sign up</h3></p>
          <div class="row  row-centered">
            <div class="col-lg-6 col-centered ">
              <%= f.error_notification %>
            </div>
          </div>
        </div>
        <%= f.simple_fields_for :member_attributes, @user.member do |member| %>
            <div class="row row-centered">
              <div class="col-lg-6 col-centered ">
                <%= member.input :member_type_id,
                                 as: :radio_buttons,
                                 item_wrapper_class: 'inline',
                                 collection: MemberType.where("description != 'god'"),
                                 label_method: lambda { |m| "#{m.description.humanize}" },
                                 checked: selected_profile(@user),
                                 label: "Profile <a href='#' data-toggle='modal' data-target='#help_modal'>?</a><br>".html_safe
                %>
              </div>
            </div>
            <div class="row  row-centered hidden" id="company_name">
              <div class="col-lg-6 col-centered ">
                <%= member.input :company_name, label: 'Company Name:' %>
              </div>
            </div>
            <div class="row  row-centered " id="name">
              <div class="col-lg-6 col-centered ">
                <%= member.input :member_name, label: 'Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered " id="last_name">
              <div class="col-lg-6 col-centered">
                <%= member.input :member_last_name, label: 'Last Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered hidden" id="birthday">
              <div class="col-lg-6 col-centered">
                <%= member.input :birthday, as: :date, label: 'Birthday:' %>
              </div>
            </div>

            <div class="row row-centered" id="cpf">
              <div class="col-lg-6 col-centered">
                <%= member.input :cpf, label: 'CPF:', input_html: {data: {mask: '999.999.999-99'}}, class: 'form-control', id: 'cpf_field' %>
              </div>
            </div>
            <div class="row row-centered" id="cnpj">
              <div class="col-lg-6 col-centered">
                <%= member.input :cnpj, label: 'CNPJ:', input_html: {data: {mask: '99.999.999/9999-99'}}, class: 'form-control' %>
              </div>
            </div>
            <div class="row row-centered" id="phone">
              <div class="col-lg-6 col-centered">
                <%= member.input :phone_number, label: 'Phone:', input_html: {data: {mask: '(99) 9999-9999'}}, class: 'form-control' %>
              </div>
            </div>
            <div class="row row-centered" id="cellphone">
              <div class="col-lg-6 col-centered">
                <%= member.input :cellphone_number, label: 'Cell Phone:', input_html: {data: {mask: '(99) 99999-9999'}}, class: 'form-control' %>
              </div>
            </div>

            <div class="row row-centered hidden" id="select_bank">
              <div class="col-lg-6 col-centered">
                <%= member.input :bank_id, collection: all_banks, label_method: :description, label: "Choose Bank:", include_blank: 'Please Select..' %>
              </div>
            </div>
            <div class="row  row-centered hidden  " id="bank_cc">

              <div class="col-lg-1 col-centered ">
                <%= member.input :bank_ag, label: 'Ag:', class: 'form-control' %>
              </div>

              <div class="col-lg-4 col-centered">
                <%= member.input :bank_cc, label: 'Cc:', class: 'form-control' %>
              </div>

              <div class="col-lg-1 col-centered">
                <%= member.input :bank_cc_digit, label: 'Digit:', class: 'form-control' %>
              </div>

            </div>
        <% end %>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered" id="workplaces">
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.input :email, label: 'Email:', class: 'form-control' %>
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.input :password, class: 'form-control' %>
          </div>
        </div>
        <div class="row  row-centered">
          <div class="col-lg-6 col-centered">
            <%= f.input :password_confirmation, class: 'form-control' %>
          </div>
        </div>
        <%= f.simple_fields_for :address_attributes, @user.address do |address| %>
            <div class="row  row-centered">
              <div class="col-lg-4 col-centered">
                <%= address.input :zip_code, label: 'Digite seu CEP:', class: 'form-control' %>
              </div>
              <div class="col-lg-2 col-centered"></div>
            </div>
            <div class="row  row-centered">
              <div class="col-lg-1 col-centered">
                <%= address.input :patio_type, label: 'Tipo Log:', class: 'form-control', input_html: {data: {cep: 'tipo_logradouro'}} %>
              </div>
              <div class="col-lg-4 col-centered">
                <%= address.input :patio, label: 'Logradouro:', class: 'form-control', input_html: {data: {cep: 'logradouro'}} %>
              </div>
              <div class="col-lg-1 col-centered">
                <%= address.input :number, label: 'Numero:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered">
              <div class="col-lg-6 col-centered">
                <%= address.input :neighborhood, label: 'Bairro:', class: 'form-control', input_html: {data: {cep: 'bairro'}} %>
              </div>
            </div>
            <div class="row  row-centered">
              <div class="col-lg-6 col-centered">
                <%= address.input :complement, label: 'Complemento:', class: 'form-control' %>
              </div>
            </div>
            <div class="row  row-centered">
              <div class="col-lg-4 col-centered">
                <%= address.input :city, label: 'Cidade:', class: 'form-control', input_html: {data: {cep: 'cidade'}} %>
              </div>
              <div class="col-lg-2 col-centered">
                <%= address.input :state, label: 'Estado:', class: 'form-control', input_html: {data: {cep: 'uf'}} %>
              </div>
            </div>
        <% end %>
        <div class="row row-centered">
          <div class="col-lg-2 col-centered"></div>
          <div class="col-lg-2 col-centered">
            <%= f.submit 'Sign up', class: 'btn btn-primary block full-width m-b' %>
          </div>
          <div class="col-lg-2 col-centered"></div>
        </div>

    <% end %>
    <p class="text-muted text-center">
      <small>Already have an account?</small>
    </p>
    <div class="row row-centered">
      <div class="col-lg-2 col-centered"></div>
      <div class="col-lg-2 col-centered">
        <a class="btn btn-sm btn-white btn-block" href="/users/sign_in">Login</a>
      </div>
      <div class="col-lg-2 col-centered"></div>
    </div>
    <p class="m-t">
      <small>Klustter Company &copy; 2015</small>
    </p>
  </div>
</div>

<div id="help_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Profiles:</h4>
      </div>
      <div class="modal-body">
        <p class="lead"> Se você pretente criar scripts afim de comercializar selecione a opção
          <strong>contributor</strong>
        </p>

        <p class="lead"> Se você pretende comprar scripts para utiliza-los em seus sistemas selecione a opção
          <strong>customer</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>