<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2><%= t 'labels.script_category.page_header' %></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <%= link_to :back, class: 'btn btn-primary next' do %>
          <i class="fa fa-chevron-left"> <%= t 'labels.buttons.back' %></i>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default center">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5 col-xs-12 col-lg-5">
              <%= simple_form_for(@script_category) do |f| %>
                  <%= f.error_notification %>
                  <div>
                    <img alt="image" class="img-circle" style="width: 70px; height: 70px" src="<%= image_path(@script_category.image_category_url) %>">
                  </div>
                  <br>
                  <div>
                    <%= f.collection_select :category_id, Category.all, :id, :description, {prompt: "#{ t 'labels.select'}"}, class: 'form-control' %>
                  </div>
                  <br>
                  <div>
                    <%= f.collection_select :script_id, Script.all, :id, :name, {prompt: "#{ t 'labels.select'}"}, class: 'form-control' %>
                  </div>
                  <br>
                  <div>
                    <%= f.input :image_category, as: :file, class: 'form-control' %>
                  </div>
                  <div>
                    <%= f.submit 'Salvar', class: 'btn btn-primary block full-width m-b' %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
