<%= render 'layouts/messages' %>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <h2>Orchestration for status: <%= @invoice_status.description %> </h2>
    </div>
  </div>
  <%= form_for :script, url: process_orchestration_invoices_path, method: :get, remote: true, :html => {id: 'orchestration_form'} do |f| %>
      <!-- /.row -->
      <div class="row">
        <hr>
        <%= link_to 'Admin Dashboard', admin_members_path, class: 'btn btn-success' %>
        <br>
        <br>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default center">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="pull-left">
                      <%= collection_select(:invoice_status, :id, @invoice_statuses, :id, :description, {:prompt => true, :include_blank => 'Select status', :selected => 'Select status'}, {:class => 'form-control'}) %>
                    </div>
                    <div class="pull-right">
                      <input type="submit" class="btn btn-success" value="Submit Status">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="table-responsive">
                  <div id="invoice_orchestration">
                    <%= render partial: 'invoices/form_invoice_orchestration', i: @invoices %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= hidden_field_tag :current_status, @invoice_status.id %>
  <% end %>
  <br>
</div>