<table class="table table-bordered table-condensed" id="script-orchestration">
  <thead>
  <tr>
    <th><input type="checkbox" id="check_all_orchestration" onclick="$('input:checkbox').not(this).prop('checked', this.checked)"></th>
    <th><%= t 'labels.script_attributes.code'%></th>
    <th><%= t 'labels.script_attributes.status'%></th>
    <th><%= t 'labels.contributors'%></th>
    <th><%= t 'labels.script_attributes.name'%></th>
    <th><%= t 'labels.script_attributes.description'%></th>
    <th><%= t 'labels.script_attributes.platform'%></th>
    <th><%= t 'labels.script_attributes.complexity'%></th>
    <th><%= t 'labels.buttons.days'%></th>
    <th><%= t 'labels.buttons.actions'%></th>
  </tr>
  </thead>
  <tbody>
  <% @scripts.each do |script| %>
      <tr>
        <td><%= check_box_tag "script_ids[]", script.id %></td>
        <td><%= script.id %></td>
        <td><%= script.status.description %></td>
        <td><%= script.member_scripts.map(&:member).map{|m| link_to "#{m.company_name}-#{m.cnpj}" , user_path(m.user) }.join('<br>').html_safe %></td>
        <td><%= script.name %></td>
        <td><%= script.description %></td>
        <td><%= script.platform %></td>
        <td><%= script.complexity %></td>
        <td><%= (Date.today - script.updated_at.to_date).to_i %></td>
        <td><%= get_action_for_script(@status.id, script) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @scripts %>
