<%= simple_form_for(@script, label_errors: true, :html => {:multipart => true}) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'layouts/process_tracker' %>
        <%= errors_for(@script) %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="pull-left">
          <%= link_to contributor_members_path, data: {confirm: "#{t 'labels.are_you_sure'}"}, :class => 'btn btn-primary' do %>
              <i class="fa fa-chevron-left"></i> Scripts
          <% end %>
        </div>
        <div class="pull-right">
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <%= t 'labels.buttons.next' %> <i class="fa fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= raw t 'labels.script_create.page_header' %>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 ">
            <div class="well">
              <p>Realize um pré-lançamento informando a data estimada da publicação do script</p>
              <p>No pré-lançamento serão considerados apenas os valores estimados</p>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-xs-3">
            <%= f.input :status_id, as: :boolean, checked_value: Status::PRE_LANCAMENTO, unchecked_value: Status::INICIAL, label:'<b>Pré-lançamento</b>'.html_safe  %>
          </div>
          <div id="prelancamento" class="col-lg-7 col-md-7 col-xs-7  hidden">
            <%= f.input :end_development_date, as: :date, html5: true, label: "#{t 'labels.script_attributes.end_development_date'}"%>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-6 ">
            <%= f.input :name, label: "#{t 'labels.script_attributes.name'}" '  <small>(max. 50 letras)</small>'.html_safe %>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= f.input :complexity, collection: get_complexities, prompt: "#{t 'labels.select'}", label: "#{t 'labels.script_attributes.complexity'}" %>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= f.input :description, label: "#{t 'labels.script_attributes.description'}" '  <small>(max. 200 letras)</small>'.html_safe %>
          </div>

          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= f.input :platform, collection: get_platforms, prompt: "#{t 'labels.select'}", label: "#{t 'labels.script_attributes.platform'}" %>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= f.input :industry, collection: Industry.all, label_method: :description, prompt: "#{t 'labels.select'}", label: "#{t 'labels.script_attributes.industry'}" %>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= f.input :solution_type_id, collection: SolutionType.all, label_method: :description, prompt: "#{t 'labels.select'}", label: "#{t 'labels.script_attributes.solution_type'}" %>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= f.input :long_text, as: :text, label: "#{t 'labels.script_attributes.long_description'}" '  <small>(max. 3000 letras)</small>'.html_safe %>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= f.input :definition, as: :text, label: "#{t 'labels.script_attributes.definition'}" '  <small>(max. 3000 letras)</small>'.html_safe %>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
          <div  id="section_script_upload" class="col-lg-6 col-md-6 col-xs-12 hidden">
            <!--Upload de arquivos -->
            <label><%= "#{t 'labels.script_attributes.script_file'}" %></label>
            <%= f.file_field :script_file%>
            <%= f.hidden_field :script_file_cache %>
            <div class="well">
              <p>O script formato .edy e gerado apartir da aplicação Klustter Script Java</p>
              <ul>
                <li><strong><%= t 'labels.script_file_accept_formats' %> </strong></li>
                <li><strong><%= t 'labels.script_file_size' %> </strong></li>
              </ul>
            </div>
            <div id="upload_script">
              <%= render partial: 'scripts/upload_scrip', script: @script %>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-6">
            <label><%=  "#{t 'labels.script_attributes.pdf_file'}" %></label>
            <%= f.file_field :pdf_file %>
            <%= f.hidden_field :pdf_file_cache %>
            <div class="well">
              <ul>
                <p>O modelo do paper pode ser baixado na área de
                  publicações <%= link_to 'publicações', publications_path %></p>
                <li><strong><%= t 'labels.pdf_file_accept_formats' %> </strong></li>
                <li><strong><%= t 'labels.pdf_file_size' %> </strong></li>
              </ul>
            </div>
            <div id="upload_pdf">
              <%= render partial: 'scripts/upload_pdf', script: @script %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>