<%= bootstrap_form_for (@script) do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <% if @action == 'create' %>
            <div class="pull-left">
              <%= link_to contributor_members_path, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default' do %>
                  <i class="fa fa-chevron-left"></i> Cancel
              <% end %>
            </div>
            <div class="pull-right">
              <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <i class="fa fa-chevron-right"></i> Next
              <% end %>
            </div>
        <% else %>
            <div class="pull-left">
              <%= link_to contributor_members_path, :class => 'btn btn-default', data: {confirm: 'Are you sure?'} do %>
                  <i class="fa fa-chevron-left"></i> Cancel
              <% end %>
              <%= button_tag(type: "submit", class: "btn btn-default") do %>
                  <i class="fa fa-floppy-o"></i> Salve
              <% end %>
              <%= link_to 'Edit Additional Information', edit_additional_information_scripts_path(:id => @script.id), :class => 'btn btn-default' %>
              <%= link_to 'Edit Value Chain', edit_build_value_chains_path(:id => @script.id), :class => 'btn btn-default' %>
            </div>
        <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-7">
        <% if @script.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@script.errors.count, "error") %> prohibited this script from being saved:</h2>
              <ul>
                <% @script.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= f.text_field :name %>
        <%= f.text_field :description %>
        <%= f.text_area :definition %>
        <%= f.text_area :long_text %>
        <%= f.select :platform, ['SAP', 'Oracle', 'TOTVS', 'Java', 'PHP'], {prompt: "Please Select ..."} %>
        <%= f.select :industry, ['Aerospace and Defense', 'Automotive', 'Banking', 'Chemicals', 'Consumer Products', 'Defense and Security', 'Engineering, Construction, and Operations', 'Healthcare', 'High Tech', 'Higher Education and Research', 'Industrial Machinery and Components', 'Insurance', 'Life Sciences', 'Media', 'Mill Products', 'Mining', 'Oil and Gas', 'Professional Services', 'Public Sector', 'Retail', 'Sports and Entertainment', 'Telecommunications', 'Travel and Transportation', 'Utilities', 'Wholesale Distribution'], {prompt: "Please Select ..."} %>
        <%= f.collection_select :solution_type_id, SolutionType.all, :id, :description, {prompt: "Please Select ..."} %>
        <%= f.select :complexity, ['Altamente Complexo AC6M', 'Altamente Complexo AC5M', 'Altamente Complexo AC4M', 'Altamente Complexo AC3M', 'Altamente Complexo AC2M', 'Muito complexo MCMAX', 'Muito complexo MCMIN', '    Complexo MMAX', 'Complexo MMIN', 'Baixo BMAX', 'Baixo BMIN', 'Muito baixo MBMAX', 'Muito baixo MBMIN'], {prompt: "Please Select ..."} %>
      </div>
      <div class="col-lg-5">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Information :</legend>
          <p>Aqui as algumas informações</p>
        </fieldset>
      </div>
    </div>
<% end %>