<%= render 'layouts/messages' %>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t 'labels.script_orchestration.page_header'%> <%= @status.description %> </h2>
    </div>
  </div>
  <%= form_for :script, url: process_orchestration_scripts_path, method: :get, remote: true, :html => {id: 'orchestration_form'} do |f| %>
      <!-- /.row -->
      <div class="row">
        <hr>
        <%= link_to 'Admin Dashboard', admin_members_path, class: 'btn btn-primary' %>
        <br>
        <br>

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default center">
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="pull-left">
                      <%= collection_select(:status, :id, @statuses, :id, :description, {:prompt => true, :include_blank => "#{t 'labels.buttons.select_status'}", :selected => "#{t 'labels.buttons.select_status'}"}, {:class => 'form-control'}) %>
                    </div>
                    <div class="pull-right">
                      <input type="submit" class="btn btn-success" value="<%= t 'labels.buttons.submit'%>">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="table-responsive">
                  <div id="script_orchestration">
                    <%= render partial: 'scripts/form_script_orchestration', s: @scripts %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= hidden_field_tag :current_status, @status.id %>
  <% end %>
  <br>
</div>