<%= render 'layouts/messages' %>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <h2>Detail Script : <%= @script.description %> </h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Back', :back, class: 'btn btn-primary' %>
      <%= link_to 'Edit', edit_script_path(@script), class: 'btn btn-primary' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <%= render 'status_script' %>
    </div>
  </div>
  <br>

  <div class="row">
    <p id="notice"><%= notice %></p>

    <div class="col-md-12">
      <dl>
        <dt>Name:</dt>
        <dd><%= @script.name %></dd>
        <div class="hr-line-dashed"></div>
        <dt>Definition:</dt>
        <dd><%= @script.definition %></dd>
        <div class="hr-line-dashed"></div>
        <dt>Long text:</dt>
        <dd><%= @script.long_text %></dd>
        <div class="hr-line-dashed"></div>
        <dt>Platform:</dt>
        <dd><%= @script.platform %></dd>
        <div class="hr-line-dashed"></div>
        <dt>Industry:</dt>
        <dd><%= @script.industry %></dd>
        <div class="hr-line-dashed"></div>
        <dt>Complexity:</dt>
        <dd><%= @script.complexity %></dd>
        <div class="hr-line-dashed"></div>
        <dt>Solution Type:</dt>
        <dd><%= @script.solution_type.id %></dd>
        <div class="hr-line-dashed"></div>
        <dt>Script File:</dt>
        <dd>
          <%= File.basename(@script.script_file.to_s) %>
          <% if current_user.is_god? %>
              <%= link_to 'Download file', @script.script_file.url %>
          <% end %>
        </dd>
        <div class="hr-line-dashed"></div>
        <dt>Pdf File:</dt>
        <dd>
          <%= File.basename(@script.pdf_file.to_s) %>
          <% if current_user.is_god? %>
              <%= link_to 'Download file', @script.pdf_file.url %>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</div>