<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h2>Detail Script : <%= @script.description %> </h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Back', contributor_members_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_script_path(@script), class: 'btn btn-default' %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <%= render 'status_script' %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>

        <p>

        <p><strong>Definition:</strong></p>
        <%= @script.name %>
        </p>
        <hr>
        <p>

        <p><strong>Definition:</strong></p>
        <%= @script.definition %>
        </p>
        <hr>
        <p>

        <p><strong>Long text:</strong></p>
        <%= @script.long_text %>
        </p>
        <hr>
        <p>
        <p> <strong>Platform:</strong></p>
          <%= @script.platform %>
        </p>
        <hr>
        <p>
        <p> <strong>Industry:</strong> </p>
          <%= @script.industry %>
        </p>
        <hr>
        <p>
        <p>  <strong>Complexity:</strong> </p>
          <%= @script.complexity %>
        </p>
        <hr>
        <p>
        <p> <strong>Solution type:</strong> </p>
          <%= @script.solution_type_id %>
        </p>
        <hr>
        <p>
        <p><strong>Script file:</strong> </p>
          <%= File.basename(@script.script_file.to_s) %>
        </p>
        <hr>
        <p>
        <p> <strong>Pdf file:</strong> </p>
          <%= File.basename(@script.pdf_file.to_s) %>
        </p>
        <hr>
      </div>
    </div>
  </div>
</div>