<%= simple_form_for(@publication) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :folder_id, collection: Folder.all, prompt: 'Select ...' %>
      <%= f.input :file_name %>
      <%= f.input :view_group, collection: Publication.view_groups.values ,  prompt: 'Selecione ...' %>
    </div>

    <div class="form-actions">
      <%= button_tag :submit , class: 'btn btn-success' %>
      <%= button_tag :back , class:'btn btn-primary'%>
    </div>
<% end %>
