<div class="row wrapper page-heading">
  <div class="col-lg-9">
    <h2>Publicações</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-content">
              <div class="file-manager">
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#modal_upload">Upload
                  Files
                </button>
                <div class="hr-line-dashed"></div>
                <h5>Folders</h5>
                <ul class="folder-list-custom" style="padding: 0">
                  <%= simple_form_for(@folder) do |f| %>
                      <%= f.error_notification %>
                      <div class="input-group">
                        <%= f.input :name, label: false %>
                        <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-default") do %>
                 <i class="fa fa-plus"></i>
                <% end %>
                    </span>
                      </div>
                  <% end %>
                  <% Folder.all.each do |f| %>
                      <li>
                        <%= link_to admin_publications_path(query: f.name) do %>
                            <i class="fa fa-folder"></i> <%= f.name %>
                        <% end %>
                      </li>
                      <% if f.name != 'Todos' %>
                          <li>
                            <%= link_to f, method: :delete, data: {confirm: 'Are you sure?'} do %>
                                <i class="fa fa-times-circle color-red" style="color: red;"></i>
                            <% end %>
                          </li>
                      <% else %>
                          <li></li>
                      <% end %>
                  <% end %>
                </ul>
                <h5 class="tag-title">Filtros de grupos</h5>
                <ul class="tag-list" style="padding: 0">
                  <% Publication.view_groups.values.each do |g| %>
                      <li>
                        <%= link_to g, admin_publications_path(query: params[:query], view_group: g) %>
                      </li>
                  <% end %>
                  <li> <%= link_to 'Nenhum', admin_publications_path(query: params[:query]) %></li>
                </ul>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
          <% @publications.each do |p| %>
              <div class="file-box">
                <div class="file">
                  <% if ViewPublication.find_by(user_id: current_user.id, publication: p.id).nil? %>
                      <span class="label label-primary" id="visited-<%= p.id %>">New</span>
                  <% else %>
                      <span class="label label-success">Visited</span>
                  <% end %>

                  <a href="#">
                    <span class="corner"></span>

                    <div class="icon">
                      <%= get_icon_file(p.file_name) %>
                    </div>
                    <div class="file-name">
                      <%= link_to File.basename(p.file_name.to_s), download_publications_path(id: p.id), onclick: "countNews(#{p.id});" %>
                      <br/>
                      <small>Added: <%= format_date(p.created_at) %></small>
                      <%= link_to 'Remove', p, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-warning btn-xs' %>
                      <%= simple_form_for(p, id: 'publication_view_group') do |f| %>
                          <hr>
                          <div class="form-inputs">
                            <%= f.input :view_group, collection: Publication.view_groups.keys,
                                        label: "<small>Grupo</small>".html_safe,
                                        prompt: 'Selecione ...',
                                        :input_html => {:onchange => "this.form.submit();", autocomplete: 'off'} %>
                            <%= f.input :folder_id, collection: Folder.all,
                                        label: "<small>Pasta</small>".html_safe,
                                        prompt: 'Selecione ...',
                                        :input_html => {:onchange => "this.form.submit();", autocomplete: 'off'} %>
                          </div>
                      <% end %>
                    </div>
                  </a>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--//////-->

<div class="modal inmodal" id="modal_upload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <i class="fa fa-upload modal-icon"></i>
        <h4 class="modal-title">Upload Publication</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@publication) do |f| %>
            <%= f.error_notification %>
            <strong>.pdf, doc, docx, xls, xlsx</strong>

            <div class="form-inputs">
              <%= f.input :file_name %>
              <%= f.input :folder_id, collection: Folder.all, prompt: 'Selecione ...' %>
              <%= f.input :view_group, collection: Publication.view_groups.values, prompt: 'Selecione ...' %>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
              <%= f.submit "Upload", :class => "btn btn-success" %>
            </div>
        <% end %>
        </div>
  </div>
</div>
