<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @scipt.description %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @scipt.definition %>
</p>

<p>
  <strong>Plataform:</strong>
  <%= @scipt.plataform %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @scipt.industry %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @scipt.solution_id %>
</p>

<p>
  <strong>Script file:</strong>
  <%= @scipt.script_file %>
</p>

<p>
  <strong>Pdf file:</strong>
  <%= @scipt.pdf_file %>
</p>

<p>
  <strong>Complexity:</strong>
  <%= @scipt.complexity %>
</p>

<%= link_to 'Edit', edit_scipt_path(@scipt) %> |
<%= link_to 'Back', scipts_path %>
