<div class="row">
  <div class="col-xs-4 col-md-2" id="row_panel_process">
    <%= link_to :back, class: 'btn btn-primary next' do %>
        <i class="fa fa-chevron-left"> Cancel</i>
    <% end %>
  </div>
</div>
<hr>
<div class="row">
  <%= form_tag create_ajax_value_chains_path, id: 'value_chains_form', method: :get do %>
      <div class="col-md-3" id="value_chain_process">
        <%= hidden_field_tag 'script_id', @script_id, id: 'script_id' %>
        <%= hidden_field_tag 'sub_action', @sub_action, id: 'script_id' %>
        <%= hidden_field_tag 'step', '1' %>
        <input type="hidden" name="process[][id]" id="process_id" value="<%= @process_module.id %>">

        <div class="ibox">
          <div class="ibox-content product-box">

            <div class="product-desc">
              <small class="text-muted">Category</small>
              <a href="#" class="product-name"><%= @process_module.description %></a>

              <div class="small m-t-xs">
                <%= @process_module.long_description %>
              </div>
              <div class="m-t text-righ">

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-horizon" id="list_process_chain">
      </div>
  <% end %>

</div>


