<div class="row">
  <div class="col-md-12">
    <%= render 'layouts/process_tracker' %>
    <div class="row">
      <div class="col-lg-12">
        <div class="pull-left">
          <%= link_to edit_script_path(id: @script.id), :class => 'btn btn-default' do %>
              <i class="fa fa-chevron-left"></i> Back
          <% end %>
          <%= link_to 'Cancel', roll_back_script_scripts_path(:id => @script.id), :class => 'btn btn-default', data: {confirm: 'Are you sure?'} %>
        </div>
        <div class="pull-right">
          <%= link_to next_wizard_path(script_id: @script.id), :class => 'btn btn-default' do %>
              <i class="fa fa-chevron-right"></i> Next
          <% end %>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-7">
        <label>Requirements</label>
        <%= form_tag create_requeriement_wizard_scripts_path, method: :post, remote: true do %>
            <div class="row">
              <div id="requirements" class="col-lg-10">
                <%= text_field_tag :query, params[:query], name: 'requirement[requirement]', id: 'requeriment', class: 'form-control autocomplete', placeholder: 'Requirement.....', :onclick => "set_message_info('#{set_info_script_messages(:requirements)}')" %>
              </div>
              <div class="col-lg-1">
                <%= submit_tag 'Add' %>
              </div>
              <%= hidden_field_tag 'requirement[script_id]', @script.id %>
              <%= hidden_field_tag 'requirement[script_id_requirement]' %>
            </div>
            <div class="row">
              <%= render partial: 'wizard_scripts/requirements_list', locals: {script: @script} %>
            </div>
        <% end %>
        <%= form_tag create_related_wizard_scripts_path, method: :post, remote: true do %>
            <div>
              <div class="row">
                <div id="related_scripts" class="col-lg-10">
                  <%= text_field_tag :query, params[:query], id: 'related_script', class: 'form-control autocomplete', placeholder: 'Related Scrips.....', :onclick => "set_message_info('#{set_info_script_messages(:related_scripts)}')" %>
                </div>
                <div class="col-lg-1">
                  <%= submit_tag 'Add' %>
                </div>
                <%= hidden_field_tag 'related_script[script_id]', @script.id %>
                <%= hidden_field_tag 'related_script[related_script_id]' %>
              </div>
            </div>
            <div class="row">
              <%= render partial: 'wizard_scripts/related_list', locals: {script: @script} %>
            </div>
        <% end %>
      </div>
      <div class="col-lg-5" id="info-message">
        <fieldset class="scheduler-border">
          <legend class="scheduler-border">Information :</legend>
          <p></p>
        </fieldset>
      </div>
    </div>
  </div>
</div>
