<div id="percent">
  <table class="table table-striped table-bordered table-hover" id="table-percent">
    <thead>
    <th><%= t 'labels.user_attribures.name' %></th>
    <th><%= t 'labels.user_attribures.cnpj' %></th>
    <th class="col-sm-2"> Total: <span id="total_percent"><%= MemberScript.where(script_id: @script.id).sum(:percentual) %></span>%</th>
    <th colspan="2"><%= t'labels.buttons.action'%></th>
    </thead>
    <tbody>
    <% MemberScript.includes(:member).where(script_id: script.id).each do |ms| %>
        <tr>
          <td><%= ms.member.company_name %></td>
          <td><%= ms.member.cnpj %></td>
          <td>
            <%= form_tag add_percentual_participation_wizard_scripts_path, remote: true, method: :get, id: 'percentage_participation' do |f| %>
                <%= text_field_tag :percentual, ms.percentual, class: 'form-control', onblur: "percentage_participation(this)" %>
                <%= hidden_field_tag :member_script_id, ms.id %>
                <%= hidden_field_tag :script_id, script.id %>
            <% end %>
          </td>
          <td><%= link_to("#{t 'labels.buttons.delete'}", remove_participation_member_wizard_scripts_path(member_script_id: ms.id, script_id: script.id), class: "btn btn-primary btn-xs", remote: true, method: :get) unless ms.member_id == current_user.member.id %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-percent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Atenção!</h4>
      </div>
      <div class="modal-body">
        <h4> Por favor verifique o percentual distribuidos entre os parceiros o total deve ser ser 100%</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

