<table class="table table-striped table-bordered table-hover">
  <thead>
  <th><%= t 'labels.script_attributes.id'%></th>
  <th><%= t 'labels.script_attributes.name'%></th>
  <th><%= t 'labels.script_attributes.description'%></th>
  <th><%= t 'labels.script_attributes.platform'%></th>
  <th>
    <small><%= t 'labels.additional_information.requirements'%></small>
  </th>
  <th>
    <small><%= t 'labels.additional_information.related'%></small>
  </th>
  </thead>
  <tbody>
  <% found_scripts.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= s.name %></td>
        <td><%= s.description %></td>
        <td><%= s.platform %></td>
        <td class="col-xs-1">
          <%= link_to "Add", {controller:
                                      :wizard_scripts,
                              action: :create_requeriement,
                              script_id: script.id,
                              requirement: {
                                      script_id: script.id,
                                      requirement: '',
                                      script_id_requirement: s.id
                              }
                           }, class: "btn btn-primary btn-xs",
                      remote: true,
                      method: :post,
                      disabled: @script.requirements.map(&:script_id_requirement).include?(s.id) %>
        </td>
        <td class="col-xs-1"><%= link_to "Add", {controller:
                                                         :wizard_scripts,
                                                 action: :create_related,
                                                 script_id: script.id,
                                                 related_script: {
                                                         script_id: script.id,
                                                         related_script_id: s.id
                                                 }
                                              }, class: "btn btn-primary btn-xs",
                                         remote: true,
                                         method: :post,
                                         disabled: @script.related_scripts.map(&:related_script_id).include?(s.id) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<!--<%= will_paginate found_scripts %>-->
<%= paginate found_scripts %>