<div id="wrapper">
  <%= render 'layouts/side_bar' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <%= render 'layouts/process_tracker' %>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left">
          <%= link_to previous_wizard_path(script_id: @script.id), :class => 'btn btn-default' do %>
              <i class="fa fa-chevron-left"></i> Back
          <% end %>
          <%= link_to "Cancel", roll_back_script_scripts_path(:id => @script.id), class: "btn btn-default next", data: {confirm: 'Are you sure?'} %>
        </div>
        <div class="pull-right">
          <%= link_to next_wizard_path(script_id: @script.id), class: "btn btn-default next" do %>
              <i class="fa fa-chevron-right"></i> Next
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <div class="btn-group pull-right">
                  <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
                    <i class="fa fa-caret-square-o-down"></i>
                  </a>
                </div>
                <span>classified into </span>
                <span class="badge" id="process_badge"></span> processes
              </h4>
            </div>
            <!-- panel acordion -->
            <div id="accordionOne" class="panel-collapse collapse">
              <div class="panel-body" id="breadcrumb_list">
                <%= render 'breadcrumb_value_chain' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'build_process' %>
  </div>
</div>




