<%= simple_form_for(@user, url: create_sub_user_users_path) do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <div class="pull-left">
          <%= link_to master_user_users_path, class: 'btn btn-primary' do %>
              <i class="fa fa-angle-left fa-lg"></i> Back
          <% end %>
        </div>
        <div class="pull-right">
          <%= f.submit 'Save', class: 'btn btn-success' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 ">
        <%= f.error_notification %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 ">
        <%= f.simple_fields_for :member_attributes, @user.member do |member| %>
            <div class="row" id="name">
              <div class="col-lg-8">
                <%= member.input :member_name, label: 'Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row" id="last_name">
              <div class="col-lg-8">
                <%= member.input :member_last_name, label: 'Last Name:', class: 'form-control' %>
              </div>
            </div>
            <div class="row" id="birthday">
              <div class="col-lg-8 ">
                <%= member.input :birthday, as: :date, label: 'Birthday:' %>
              </div>
            </div>
            <div class="row" id="cpf">
              <div class="col-lg-8">
                <%= member.input :cpf, label: 'CPF:', input_html: {data: {mask: '999.999.999-99'}}, class: 'form-control', id: 'cpf_field' %>
              </div>
            </div>
            <div class="row" id="phone">
              <div class="col-lg-8">
                <%= member.input :phone_number, label: 'Phone:', input_html: {data: {mask: '(99) 9999-9999'}}, class: 'form-control' %>
              </div>
            </div>
            <div class="row" id="cellphone">
              <div class="col-lg-8">
                <%= member.input :cellphone_number, label: 'Cell Phone:', input_html: {data: {mask: '(99) 99999-9999'}}, class: 'form-control' %>
              </div>
            </div>
        <% end %>
        <div class="row">
          <div class="col-lg-8">
            <%= f.input :email, label: 'Email:', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <%= f.input :password, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <%= f.input :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <br>
<% end %>
