<%= bootstrap_form_for(@user) do |f| %>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <%= f.submit "#{t 'labels.buttons.save'}", class: 'btn btn-success' %>
        </div>
        <div class="pull-left">
          <%= link_to :back, class: 'btn btn-primary next' do %>
              <i class="fa fa-chevron-left"> <%= t 'labels.buttons.back' %></i>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_field :id, readonly: :true, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.fields_for :member_type do |mt| %>
            <%= mt.text_field :description , readonly: !current_user.is_god?, class: 'form-control' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>

    <%= f.fields_for :member do |m| %>
        <div class="row">
          <div class="col-md-12">
            <%= m.collection_select :member_type_id, MemberType.all, :id, :description, {label: "#{t 'labels.member_attributes.member_type'}"} %>
          </div>
        </div>
        <% if @user.member_type.id == 1 %>
            <div class="row">
              <div class="col-md-6">
                <%= m.text_field :member_name, label: "#{t 'labels.member_attributes.member_name'}", class: 'form-control' %>
              </div>
              <div class="col-md-6">
                <%= m.text_field :member_last_name, label: "#{t 'labels.member_attributes.member_last_name'}", class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= m.collection_select :bank_id, Bank.all, :id, :description, {label: "#{t 'labels.member_attributes.bank'}"} %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <%= m.text_field :bank_ag, label: "#{t 'labels.member_attributes.bank_ag'}", class: 'form-control' %>
              </div>
              <div class="col-md-8">
                <%= m.text_field :bank_cc, label: "#{t 'labels.member_attributes.bank_cc'}", class: 'form-control' %>
              </div>
              <div class="col-md-2">
                <%= m.text_field :bank_cc_digit, label: "#{t 'labels.member_attributes.bank_cc_dg'}", class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= m.text_field :cpf, label: "#{t 'labels.member_attributes.cpf'}", class: 'form-control' %>
              </div>
            </div>
        <% else %>
            <div class="row">
              <div class="col-md-12">
                <%= m.text_field :company_name, label: "#{t 'labels.member_attributes.company_name'}", class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= m.text_field :cnpj, class: 'form-control' %>
              </div>
            </div>
        <% end %>
        <%= f.fields_for :address do |a| %>
            <div class="row">
              <div class="col-md-2">
                <%= a.text_field :id, readonly: :true, label: 'Id', class: 'form-control' %>
              </div>
              <div class="col-md-10">
                <%= a.text_field :zip_code, label: "#{t 'labels.address_attribures.zip_code'}", class: 'form-control' %>
              </div>

            </div>
            <div class="row">
              <div class="col-md-2">
                user<%= a.text_field :patio_type, label: "#{t 'labels.address_attribures.patio_type'}", class: 'form-control' %>
              </div>
              <div class="col-md-8">
                <%= a.text_field :patio, label: "#{t 'labels.address_attribures.patio_type'}", class: 'form-control' %>
              </div>
              <div class="col-md-2">
                <%= a.text_field :number, label: "#{t 'labels.address_attribures.number'}", class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= a.text_field :neighborhood, label: "#{t 'labels.address_attribures.neighbordhood'}", class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= a.text_field :complement, label: "#{t 'labels.address_attribures.complement'}", class: 'form-control' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= a.text_field :city, label: "#{t 'labels.address_attribures.city'}", class: 'form-control' %>
              </div>
              <div class="col-md-6">
                <%= a.text_field :state, label: "#{t 'labels.address_attribures.state'}", class: 'form-control' %>
              </div>
            </div>
        <% end %>
        <div class="row">
          <div class="col-md-6">
            <%= m.text_field :created_at, readonly: :true, class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= m.text_field :updated_at, readonly: :true, class: 'form-control' %>
          </div>
        </div>
    <% end %>
<% end %>
