

<%= simple_form_for(@user, :html => {class: 'form-horizontal', id: 'singup_form'}) do |f| %>
    <div class="row ">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <%= f.submit 'Save', class: 'btn btn-success btn-block' %>
      </div>
      <div class="col-lg-2"></div>
    </div>

    <div class="row">
      <div class="row">
        <div class="col-lg-6 ">
          <%= f.error_notification %>
        </div>
      </div>
    </div>
    <%= f.simple_fields_for :member_attributes, @user.member do |member| %>
        <%= member.input :member_type_id, as: :hidden, value: current_user.member_type.id %>
        <div class="row   hidden" id="company_name">
          <div class="col-lg-6 ">
            <%= member.input :company_name, label: 'Company Name:' %>
          </div>
        </div>
        <div class="row " id="name">
          <div class="col-lg-6 ">
            <%= member.input :member_name, label: 'Name:', class: 'form-control' %>
          </div>
        </div>
        <div class="row " id="last_name">
          <div class="col-lg-6">
            <%= member.input :member_last_name, label: 'Last Name:', class: 'form-control' %>
          </div>
        </div>
        <div class="row   hidden" id="birthday">
          <div class="col-lg-6">
            <%= member.input :birthday, as: :date, label: 'Birthday:' %>
          </div>
        </div>

        <div class="row " id="cpf">
          <div class="col-lg-6">
            <%= member.input :cpf, label: 'CPF:', input_html: {data: {mask: '999.999.999-99'}}, class: 'form-control', id: 'cpf_field' %>
          </div>
        </div>
        <div class="row " id="cnpj">
          <div class="col-lg-6">
            <%= member.input :cnpj, label: 'CNPJ:', input_html: {data: {mask: '99.999.999/9999-99'}}, class: 'form-control' %>
          </div>
        </div>
        <div class="row " id="phone">
          <div class="col-lg-6">
            <%= member.input :phone_number, label: 'Phone:', input_html: {data: {mask: '(99) 9999-9999'}}, class: 'form-control' %>
          </div>
        </div>
        <div class="row " id="cellphone">
          <div class="col-lg-6">
            <%= member.input :cellphone_number, label: 'Cell Phone:', input_html: {data: {mask: '(99) 99999-9999'}}, class: 'form-control' %>
          </div>
        </div>

        <div class="row  hidden" id="select_bank">
          <div class="col-lg-6">
            <%= member.input :bank_id, collection: all_banks, label_method: :description, label: "Choose Bank:", include_blank: 'Please Select..' %>
          </div>
        </div>
        <div class="row   hidden" id="bank_cc">

          <div class="col-lg-1 ">
            <%= member.input :bank_ag, label: 'Ag:', class: 'form-control' %>
          </div>

          <div class="col-lg-4">
            <%= member.input :bank_cc, label: 'Cc:', class: 'form-control' %>
          </div>

          <div class="col-lg-1">
            <%= member.input :bank_cc_digit, label: 'Digit:', class: 'form-control' %>
          </div>

        </div>
    <% end %>
    <div class="row">
      <div class="col-lg-6" id="workplaces">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :email, label: 'Email:', class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :password, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= f.input :password_confirmation, class: 'form-control' %>
      </div>
    </div>
    <%= f.simple_fields_for :address_attributes, @user.address do |address| %>
        <div class="row">
          <div class="col-lg-4">
            <%= address.input :zip_code, label: 'Digite seu CEP:', class: 'form-control' %>
          </div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row">
          <div class="col-lg-1">
            <%= address.input :patio_type, label: 'Tipo Log:', class: 'form-control', input_html: {data: {cep: 'tipo_logradouro'}} %>
          </div>
          <div class="col-lg-4">
            <%= address.input :patio, label: 'Logradouro:', class: 'form-control', input_html: {data: {cep: 'logradouro'}} %>
          </div>
          <div class="col-lg-1">
            <%= address.input :number, label: 'Numero:', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <%= address.input :neighborhood, label: 'Bairro:', class: 'form-control', input_html: {data: {cep: 'bairro'}} %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <%= address.input :complement, label: 'Complemento:', class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <%= address.input :city, label: 'Cidade:', class: 'form-control', input_html: {data: {cep: 'cidade'}} %>
          </div>
          <div class="col-lg-2">
            <%= address.input :state, label: 'Estado:', class: 'form-control', input_html: {data: {cep: 'uf'}} %>
          </div>
        </div>
    <% end %>


<% end %>
