<td>
  <%= user.id %>
</td>
<td>
  <%= user.member.member_name.present? ? user.full_name : user.member.company_name %>
</td>
<td>
  <%= link_to user.email, user %>
</td>
<td>
  <% unless user == current_user %>
      <%= form_for(user) do |f| %>
          <%= f.select(:status, User.statuses.keys.map { |status| [status.titleize, status] }) %>
          <%= f.submit "#{t 'labels.change_status'}", :class => 'button-xs' %>
      <% end %>
  <% end %>
</td>
<!--<td>-->
<!--<%= form_for(user) do |f| %>-->
    <!--<%= f.select(:role, User.roles.keys.map { |role| [role.titleize, role] }) %>-->
    <!--<%= f.submit "#{t 'labels.change_role'}", :class => 'button-xs' %>-->
    <!--
<% end %>-->
<!--</td>-->
<td>
  <%= link_to("#{t 'labels.buttons.edit'}", edit_user_path(user), :class => 'btn btn-info btn-xs') unless user == current_user %>
</td>
<td>
  <%= link_to("#{t 'labels.buttons.delete'}", user_path(user), :data => {:confirm => "#{t 'labels.are_you_sure'}"}, :method => :delete, :class => 'btn btn-danger btn-xs') unless user == current_user %>
</td>
