<%= render 'layouts/messages' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t 'labels.user_attribures.users' %> </h1>
    </div>
  </div>
  <hr>
  <%= form_tag request.path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <label> <%= t 'labels.find_by' %></label>
      <label> Id:</label>
      <input type="radio" checked="true" value="id" id="select_field1" name="attribute">
      <label> Email:</label>
      <input type="radio" checked="true" value="email" id="select_field2" name="attribute">
      <label> Profile:</label>
      <input type="radio" checked="false" value="member_types.description" id="select_field3" name="attribute">
      <label> Status:</label>
      <input type="radio" checked="false" value="status" id="select_field4" name="attribute">
  <% end %>
  <br>
  <table class="table table-bordered table-condensed responsive">
    <thead>
    <th>Id</th>
    <th><%= t 'labels.user_attribures.name' %></th>
    <th>Profile</th>
    <th>Email</th>
    <th>Status</th>
    <th colspan="2"></th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.full_name %>
          </td>
          <td>
            <%= user.member.member_type.description.humanize %>
          </td>
          <td>
            <%= link_to user.email, user %>
          </td>
          <td>
            <% unless user == current_user %>
                <%= form_for(user) do |f| %>
                    <%= f.select(:status, User.statuses.keys.map { |status| [status.titleize, status] }) %>
                    <%= f.submit "#{t 'labels.change_status'}", :class => 'button-xs' %>
                <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to("#{t 'labels.buttons.edit'}", edit_user_path(user), :class => 'btn btn-info btn-xs') unless user == current_user %>
          </td>
          <td>
            <%= link_to("#{t 'labels.buttons.delete'}", user_path(user), :data => {:confirm => "#{t 'labels.are_you_sure'}"}, :method => :delete, :class => 'btn btn-danger btn-xs') unless user == current_user %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate @users %>
  <% ActiveRecord::Base.default_timezone = :utc %>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Users traffic
        </div>
        <div class="panel-body">
          <%= line_chart User.group_by_day(:current_sign_in_at).count %>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Users Types
        </div>
        <div class="panel-body">
          <%= pie_chart User.joins(:member_type).group(:description).count %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Created Users
        </div>
        <div class="panel-body">
          <%= line_chart User.group_by_day(:created_at).count %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Updated Users
        </div>
        <div class="panel-body">
          <%= line_chart User.group_by_day(:updated_at).count %>
        </div>
      </div>
    </div>
  </div>
</div>