<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h1>User </h1>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Back', :back, class: 'btn btn-default' %>
      </div>
    </div>
    <br>

    <div class="row">

      <div class="col-md-6">
        <p>
        <h4><strong>Email: </strong> <%= @user.email if @user.email %></h4>
        </p>
        <hr>
        <p><h4><strong>Member Type: </strong> <%= @user.member.member_type.description %></h4></p>
        <hr>
        <p><h4><strong>Member Name: </strong> <%= @user.full_name %></h4></p>
        <hr>
        <p><h4><strong>Bank: </strong> <%= @user.member.bank.description %></h4></p>
        <hr>
        <p><h4><strong>Bank AG: </strong> <%= @user.member.bank_ag %></h4></p>
        <hr>
        <p><h4><strong>Bank CC: </strong> <%= @user.member.bank_cc %></h4></p>
        <hr>
        <p><h4><strong>Bank DIGIT: </strong> <%= @user.member.bank_cc_digit %></h4></p>
        <hr>
        <p><h4><strong>CPF: </strong> <%= @user.member.cpf %></h4></p>
        <hr>
        <p><h4><strong>CNPJ: </strong> <%= @user.member.cnpj %></h4></p>
        <hr>
        <p><h4><strong>Comapany Name: </strong> <%= @user.member.company_name %></h4></p>
        <hr>
        <p><h4><strong>Created at: </strong> <%= @user.created_at %></h4></p>
        <hr>
        <p><h4><strong>Updated at: </strong> <%= @user.updated_at %></h4></p>
        <hr>
      </div>
      <div class="col-md-6">
        <p>
        <h4>
          <strong>Confirmed? : </strong> <%= @user.confirmed_at.present? ? 'yes' : 'no' %>
        </h4></p>
        <hr>
        <h4>
          <strong>Confirmed At : </strong> <%= @user.confirmed_at %>
        </h4></p>
        <hr>
        <p><h4><strong>Current Sign: </strong> <%= @user.current_sign_in_at %></h4></p>
        <hr>
        <p><h4><strong>Last Sign: </strong> <%= @user.last_sign_in_at %></h4></p>
        <hr>
        <p><h4><strong>Last Sign IP: </strong> <%= @user.last_sign_in_ip %></h4></p>
        <hr>
        <p><h4><strong>Current Sign IP: </strong> <%= @user.last_sign_in_ip %></h4></p>
        <hr>
        <p><h4><strong>Confirmation Token: </strong> <%= @user.confirmation_token %></h4></p>
        <hr>
      </div>
    </div>
  </div>
</div>