<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>
      <h1 class="logo-name"><%= image_tag 'login/logo-login.png' %></h1>
    </div>
    <h2 class="font-bold">Esqueceu a Senha</h2>

    <p>
      <%= raw t 'labels.devise.forgot_password' %>
    </p>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :role => 'form', :class => 'm-t'}) do |f| %>
        <%= devise_error_messages! %>
        <%= f.label 'Email:' %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control', :placeholder => 'Email ....' %>
        <br>
        <%= f.submit "#{t 'labels.devise.reset_password'}", :class => 'btn btn-primary block full-width m-b' %>
    <% end %>
    <%= link_to 'Ja possui uma conta?', '/users/sign_in', :class => 'btn btn-success block full-width m-b' %>
    <p class="m-t">
      <small>Klustter Script Inovation &copy; 2016</small>
    </p>
  </div>
</div>
