<div class="animated fadeInDown">

  <div class="row row-centered">
    <div class="col-lg-6 col-centered">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :role => 'form'}) do |f| %>
          <% if alert.present? %>
              <div class="alert alert-danger">
                <%= alert %>
              </div>
          <% end %>
          <div class="text-center">
            <%= raw t 'labels.devise.forgot_password' %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label 'Email:' %>
              <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
            </div>
            <%= f.submit "#{t 'labels.devise.reset_password'}", :class => 'btn btn-success' %>
            <br>
            <br>
            <%= link_to 'Sign in', '/users/sign_in', :class => 'btn btn-primary' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
