<%= render 'layouts/messages' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <p>
    <strong>Image:</strong> <br>
    <img src="<%= @process_module.image.thumb.url.to_s %>" />
  </p>

  <p>
    <strong>Id:</strong>
    <%= @process_module.id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @process_module.description %>
  </p>

  <p>
    <strong>Long Decription:</strong>
    <%= @process_module.long_description %>
  </p>

  <p>
    <strong>Referrer Process:</strong>
    <%= @process_module.referrer_process_module_id %>
  </p>

  <%= link_to 'Edit', edit_process_module_path(@process_module), class: 'btn btn-primary' %>
  <%= link_to 'Back', process_modules_path, class: 'btn btn-primary' %>
</div>