<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @process_module.description %>
</p>

<p>
  <strong>Self process module:</strong>
  <%= @process_module.self_process_module_id %>
</p>

<%= link_to 'Edit', edit_process_module_path(@process_module) %> |
<%= link_to 'Back', process_modules_path %>
