<p id="notice"><%= notice %></p>

<h1>Listing Related Scripts</h1>

<table>
  <thead>
    <tr>
      <th>Related script</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @related_scripts.each do |related_script| %>
      <tr>
        <td><%= related_script.related_script %></td>
        <td><%= link_to 'Show', related_script %></td>
        <td><%= link_to 'Edit', edit_related_script_path(related_script) %></td>
        <td><%= link_to 'Destroy', related_script, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Related script', new_related_script_path %>
