<p id="notice"><%= notice %></p>

<p>
  <strong>Script:</strong>
  <%= @reservation.script_id %>
</p>

<p>
  <strong>Owner user:</strong>
  <%= @reservation.owner_user_id %>
</p>

<p>
  <strong>Reserve for:</strong>
  <%= @reservation.reserve_for %>
</p>

<p>
  <strong>Expiration time:</strong>
  <%= @reservation.expiration_time %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
