<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag({:controller => :invoices, :action => :create}, {:id => 'form_end_buy'}) do %>
        <div class="row-fluid">
          <div class="col-md-10">
            <% if carts.size > 0 %>
                <%= button_tag(type: "submit", class: "btn btn-success", id: "submit_invoice") do %>
                    <%= t 'labels.buttons.finalize' %>
                <% end %>
            <% end %>
          </div>
          <div class="col-md-2">
            <h5><b>Total: <%= get_total(carts) %></b></h5>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>Cod</th>
                  <th><%= t 'labels.script_attributes.name' %></th>
                  <th><%= t 'labels.script_attributes.description' %></th>
                  <th><%= t 'labels.script_attributes.platform' %></th>
                  <th><%= t 'labels.script_attributes.price' %></th>
                  <th><%= t 'labels.script_attributes.paper' %></th>
                  <th colspan="3"></th>
                </tr>
                </thead>
                <tbody>
                <% carts.each do |cart| %>
                    <tr>
                      <td> <%= cart.script.id %></td>
                      <td> <%= cart.script.name %></td>
                      <td> <%= cart.script.description %> </td>
                      <td> <%= cart.script.platform %> </td>
                      <td><%= number_to_currency_br(cart.price.value) %></td>
                      <td> <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#paperModal"><%= t 'labels.buttons.show_paper' %></button>
                      </td>
                      <td><%= link_to "#{t 'labels.buttons.remover'}", cart, method: :delete, data: {confirm: "#{t 'labels.are_you_sure'}"}, remote: true, class: 'btn btn-danger' %></td>
                      <%= hidden_field_tag 'cart[]', cart.id %>
                    </tr>
                    <!-- Modal -->
                    <%= render 'modal_paper', cart: cart %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row row-centered">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="col-xs-6 col-xs-offset-3">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#termsModal">
                  Aceite de Termos e Condições
                </button>
                <input type="hidden" id="agree" name="agree" value=""/>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span id="icon_agree"><i></i></span>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


<!-- Terms and conditions modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="Terms and conditions" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Terms and conditions</h3>
      </div>

      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones.
          His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute
          nominati referrentur vis. Dicat erant sit ex. Phaedrum imperdiet scribentur vix no, ad latine similique
          forensibus vel.</p>
        <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus ut vel, quo at probatus
          oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim id, ne munere fierent rationibus mei. Ut
          pro volutpat praesent qualisque, an iisque scripta intellegebat eam.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="agreeButton" data-dismiss="modal">Aceito</button>
        <button type="button" class="btn btn-default" id="disagreeButton" data-dismiss="modal">Não Aceito</button>
      </div>
    </div>
  </div>
</div>

<div id="dialog_terms" title="Atenção">
      <p>Por favor aceite os termos para finalizar a compra!</p>
</div>

