<%= render 'layouts/messages' %>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= bootstrap_form_for(@cart, remote: true, :html => {id: 'cart_form'}) do |c| %>
      <!--voltado para analise de pesquisa x compra-->
      <%= hidden_field_tag :id_search, @id_search %>
      <%= c.hidden_field :script_id, value: @script.id %>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox product-detail">
            <div class="ibox-content">
              <div class="text-right">
                <div class="btn-group">
                  <button class="btn btn-white btn-sm" disabled="true"><i class="fa fa-star"></i>Favoritar</button>
                  <button class="btn btn-white btn-sm" disabled="true"><i class="fa fa-envelope"></i>Contate o Autor
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h2 class="font-bold m-b-xs">
                    <%= @script.name %>
                  </h2>
                  <small>Comercializado segundo os direitos pré estabelecidos em contrato com o autor</small>
                  <div>
                    <%= button_tag(type: "submit", class: "btn btn-primary pull-right", id: "submit_invoice", data: {confirm: "#{t 'labels.add_item_to_cart'}"}) do %>
                        <i class="fa fa-cart-plus"></i> <%= t 'labels.buttons.add_to_cart' %>
                    <% end %>
                    <h1 class="product-main-price"><%= number_to_currency_br(@price.value) %>
                      <small class="text-muted">Valor estabelecido através das métricas
                        <a href="http://www.ifpug.org/" target="_blank">IFPUG</a></small>
                    </h1>
                  </div>
                  <hr>
                  <h4><%= t 'labels.script_attributes.description' %></h4>

                  <div>
                    <%= @script.description %>
                    <br/>
                  </div>
                  <h4><%= t 'labels.script_attributes.long_description' %></h4>

                  <div>
                    <%= @script.long_text %>
                  </div>

                  <dl class="dl-horizontal m-t-md">
                    <dt>Script Cod</dt>
                    <dd><%= @script.id %></dd>

                    <dt><%= t 'labels.script_attributes.platform' %></dt>
                    <dd><%= @script.platform %></dd>

                    <dt><%= t 'labels.script_attributes.industry' %></dt>
                    <dd><%= @script.industry %></dd>

                    <% if @script.requirements.size > 0 %>
                        <dt><%= t 'labels.script_attributes.requirements' %></dt>
                        <% @script.requirements.each do |requirement| %>
                            <dd><%= requirement.requirement %></dd>
                        <% end %>
                    <% end %>

                    <% if @script.related_scripts.size > 0 %>
                        <dt> <%= t 'labels.show_product.related_scripts' %></dt>
                          <% @script.related_scripts.each do |related_script| %>
                              <% @related_script = Script.find_by id: related_script.script_id %>
                              <dd><%= @related_script.name %></dd>
                          <% end %>
                    <% end %>

                    <dt><%= t 'labels.script_attributes.process' %></dt>
                    <% show_process_chain(@script.id).each do |process| %>
                        <dd><%= build_list_chain(process, @script.id, false) %></dd>
                    <% end %>

                    <dt><%= t 'labels.script_attributes.contributor' %> </dt>
                    <% @script.members.each do |member| %>
                        <dd> <%= "#{member.member_name} #{ member.member_last_name}" %></dd>
                    <% end %>

                    <dt>Criado em</dt>
                    <dd><strong>created at : <%= @script.created_at.to_s(:custom_datetime) %></strong></dd>

                    <dt><%= t 'labels.script_attributes.definition' %></dt>
                    <dd><%= @script.definition %></dd>
                  </dl>
                  <div class="panel panel-default">
                    <div class="panel-heading"><%= raw t 'labels.show_product.to_organization' %></div>
                    <div class="panel-body">
                      <%= c.fields_for :workplace do |w| %>
                          <div class="col-md-6">
                            <%= w.text_field :organization_name, label: 'System Alias:', class: 'form-control autocomplete' %>
                          </div>
                          <div class="col-md-6">
                            <%= w.text_field :system_number, label: choose_label_system_number(@script.platform) %>
                          </div>
                          <%= w.hidden_field :member_id, value: current_user.member.id %>
                      <% end %>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-12">
                  <div class="product-images">
                    <div>
                      <iframe src="<%= @script.pdf_file.url %>#toolbar=false&navpanes=0&scrollbar=0" width="100%" height="1075" frameborder="0"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
