<table class="table table-striped table-condensed responsive" id="script-price-table" data-source="<%= get_data_ajax_prices_path(format: :json) %>">
  <thead>
  <tr>
    <th>Cod</th>
    <th><%= t 'labels.script_attributes.name' %></th>
    <th><%= t 'labels.script_attributes.status' %></th>
    <th><%= t 'labels.script_attributes.complexity' %></th>
    <!--<th><%= t 'labels.script_attributes.value' %></th>-->
    <!--<th><%= t 'labels.script_price.aggregate_percentage' %></th>-->
    <!--<th><%= t 'labels.script_attributes.currency' %></th>-->
    <!--<th><%= t 'labels.script_price.currency_date' %></th>-->
    <th><%= t 'labels.script_price.time' %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
