<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Lista de Scripts e Valores</h2>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">

    <table class="table table-striped table-condensed display responsive no-wrap" id="script-price-table" data-source="<%= get_price_data_ajax_prices_path(format: :json) %>">
      <thead>
      <tr>
        <th>Id</th>
        <th><%= t 'labels.script_attributes.name' %></th>
        <th><%= t 'labels.script_attributes.status' %></th>
        <th><%= t 'labels.script_attributes.value' %></th>
        <th><%= t 'labels.script_attributes.currency' %></th>
        <th><%= t 'labels.script_price.currency_date' %></th>
        <th><%= t 'labels.buttons.actions' %></th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
  </div>
</div>