<% if scripts.present? %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <small>
            <%= scripts.total_count %> <%= t 'labels.searchs.results.reuslts'%> |
            <%= scripts.current_page %> <%= t 'labels.searchs.results.page'%> |
            <%= t 'labels.searchs.results.per_page'%>: <%= scripts.per_page %>  |
            <%= t 'labels.searchs.results.total_pages'%>: <%= scripts.total_pages %>
          </small>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <% scripts.each do |script| %>
              <div class="col-md-4">
                <div class="ibox">
                  <div class="ibox-content product-box">

                    <div class="product-imitation">
                      <span class="product-name"> <%= script.name %> </span>
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                <%= number_to_currency_br(script.price.value) %>
                                </span>
                      <div class="row">
                        <%= t 'labels.searchs.results.plataform'%>: <%= script.platform %></br>
                        <%= t 'labels.searchs.results.tags'%>: <%= "#{script.industry} #{script.complexity}" %></br>
                        <%= t 'labels.searchs.results.code'%>: <%= script.id %></br>
                        <div class="small m-t-xs">
                          <%= t 'labels.searchs.results.contributor'%>:
                          <% script.members.each do |member| %>
                              <% if script.members.size > 1 %>
                                  <%= "#{member.member_name} #{ member.member_last_name}" %>  ,
                              <% else %>
                                  <%= "#{member.member_name} #{ member.member_last_name}" %>
                              <% end %>
                          <% end %>
                          </br>

                        </div>
                      </div>
                      <div class="m-t text-righ">
                        <%= link_to show_product_buys_path(id: script, id_search: scripts.search.id), class: "btn btn-xs btn-outline btn-primary" do %>
                           <%= t 'labels.buttons.details'%>  <i class="fa fa-long-arrow-right"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p><%= paginate scripts %></p>
        </div>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <small>
            0  <%= t 'labels.searchs.results.reuslts'%> |
            0  <%= t 'labels.searchs.results.pages'%> |
            <%= t 'labels.searchs.results.per_page'%>: 0 |
            <%= t 'labels.searchs.results.total_pages'%>: 0
          </small>
        </p>
      </div>
    </div>
<% end %>