<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-xs-2">
        <%= link_to "Todos", searches_path, class: " btn btn-success btn-block btn-outline" %>
        <% Category.all.each do |c| %>
            <%= link_to c.description, searches_path(category_id: c.id), class: " btn btn-success btn-block btn-outline" %>
        <% end %>
      </div>
      <div class="col-lg-10 col-md-10 col-xs-10">
        <% if scripts.present? %>
            <div class="row">
              <div class="col-lg-10 col-md-10 col-xs-10">
                <small>
                  <%= scripts.total_count %> <%= t 'labels.searchs.results.reuslts' %> |
                  <%= scripts.current_page %> <%= t 'labels.searchs.results.page' %> |
                  <%= t 'labels.searchs.results.per_page' %>: <%= scripts.per_page %>  |
                  <%= t 'labels.searchs.results.total_pages' %>: <%= scripts.total_pages %>
                </small>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-xs-12">
                <% scripts.each do |s| %>
                    <div class="col-lg-4">
                      <div class="contact-box center-version">
                        <a href="<%= show_product_buys_path(id: s, id_search: scripts.search.id) %>">
                          <img alt="image" class="img-circle" src="<%= image_path(s.script_category.nil? ? 'dummy_category.png' : s.script_category.image_category_url) %>">
                          <div class="font-bold">Cod: <%= s.id %></div>
                          <h3 class="m-b-xs truncate"><strong><%= s.name %></strong></h3>
                          <div class="font-bold"><%= s.platform %></div>
                          <div class="font-bold"><%= number_to_currency(s.price.value) %></div>
                          <div class="m-t-md searchDescription">
                            <%= s.status_id == Status::PRE_LANCAMENTO_APROVADO ? ' <div class="font-bold"> <i class="fa fa-v fa-star">PRÉ LANÇAMENTO</i></div>'.html_safe : ' ' %>
                            <%= s.description %>
                          </div>
                        </a>
                        <div class="contact-box-footer" id="likes_<%= s.id %>">
                          <%= render partial: 'likes', locals: {script: s} %>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
            <%= will_paginate @scripts %>
      <% end %>
      </div>

    </div>

  </div>
</div>