<div class="panel panel-default">
  <div class="panel-body">
    <% if scripts.present? %>
        <div class="row">
          <div class="col-md-12">
            <small>
              <%= scripts.total_count %> <%= t 'labels.searchs.results.reuslts' %> |
              <%= scripts.current_page %> <%= t 'labels.searchs.results.page' %> |
              <%= t 'labels.searchs.results.per_page' %>: <%= scripts.per_page %>  |
              <%= t 'labels.searchs.results.total_pages' %>: <%= scripts.total_pages %>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox">
              <div class="ibox-content">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                  <thead>
                  <tr>
                    <th data-toggle="true">Cod</th>
                    <th data-toggle="true">Nome</th>
                    <th data-hide="phone">Plataforma</th>
                    <th data-hide="phone">Preço</th>
                    <th data-hide="all">Descrição</th>
                    <th data-hide="all">Descrição Longa</th>
                    <th data-hide="all">Industria</th>
                    <th data-hide="all">Obs</th>
                    <th data-hide="phone,tablet">Autores</th>
                    <th data-sort-ignore="true">Ações</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% scripts.each do |script| %>
                      <tr>
                        <td><%= script.id %> </td>
                        <td><%= script.name %> </td>
                        <td><%= script.platform %></td>
                        <td><%= number_to_currency_br(script.price.value) %></td>
                        <td><%= script.description %></td>
                        <td><%= script.long_text %></td>
                        <td><%= script.industry %></td>
                        <td><%= script.definition %></td>
                        <td>
                          <% script.members.each do |member| %>
                              <% if script.members.size > 1 %>
                                  <%= "#{member.member_name} #{ member.member_last_name} ," %>
                              <% else %>
                                  <%= "#{member.member_name} #{ member.member_last_name}" %>
                              <% end %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to "Vizualizar", show_product_buys_path(id: script, id_search: scripts.search.id), class: "btn-success btn btn-xs" %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="6">
                      <%= paginate scripts %>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
    <% else %>
        <div class="row">
          <div class="col-md-12">
            <p>
              <small>
                0  <%= t 'labels.searchs.results.reuslts' %> |
                0  <%= t 'labels.searchs.results.pages' %> |
                <%= t 'labels.searchs.results.per_page' %>: 0 |
                <%= t 'labels.searchs.results.total_pages' %>: 0
              </small>
            </p>
          </div>
        </div>
    <% end %>
  </div>
</div>