<% if scripts.present? %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <small>
            <%= scripts.total_count %> results |
            <%= scripts.current_page %> pages |
            Per Page: <%= scripts.per_page %>  |
            Total Pages: <%= scripts.total_pages %>
          </small>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="container">
          <% scripts.each do |script| %>
              <div class="col-md-4">
                <div class="ibox">
                  <div class="ibox-content product-box">

                    <div class="product-imitation">
                      Imagem ou texto
                      [ INFO ]
                    </div>
                    <div class="product-desc">
                                <span class="product-price">
                                <%= number_to_currency_br(script.price.value) %>
                                </span>
                      <small class="text-muted">Name</small>
                      <span class="product-name"> <%= script.name %> </span>

                      <div class="row">
                        Platform: <%= script.platform %></br>
                        Tags: <%= "#{script.industry} #{script.complexity}" %></br>
                        Cod: <%= script.id %></br>
                        <div class="small m-t-xs">

                          Contributor(s):
                          <% script.members.each do |member| %>
                              <% if script.members.size > 1 %>
                                  <%= "#{member.member_name} #{ member.member_last_name}" %>  ,
                              <% else %>
                                  <%= "#{member.member_name} #{ member.member_last_name}" %>
                              <% end %>
                          <% end %> - created at : <%= script.created_at %>
                          </br>

                        </div>
                      </div>
                      <div class="m-t text-righ">
                        <%= link_to show_product_buys_path(id: script, id_search: scripts.search.id), class: "btn btn-xs btn-outline btn-primary" do %>
                            Details <i class="fa fa-long-arrow-right"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p><%= paginate scripts %></p>
        </div>
      </div>
    </div>
<% else %>
    <div class="row">
      <div class="col-md-12">
        <p>
          <small>
            0 results |
            0 pages |
            Per Page: 0 |
            Total Pages: 0
          </small>
        </p>
      </div>
    </div>
<% end %>