<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12 text-center">
        <label><h2>Search Solutions</h2></label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= form_tag searches_path, method: :get do %>
            <div class="form-group">
              <%= text_field_tag :query, params[:query], class: 'form-control' %>
              <br>
              <%= submit_tag 'Search', class: 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p><%= @scripts.total_count %> results</p>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% @scripts.each do |script| %>
            <ul>
              <li><%= script.id %></li>
              <li><%= script.description %></li>
            </ul>
        <% end %>
      </div>
    </div>
    <!--<div class="input-group">-->
    <!--<input type="text" class="form-control" placeholder="Search for...">-->
    <!--<span class="input-group-btn">-->
    <!--<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<br>-->

    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<div class="media">-->
    <!--<div class="media-left media-middle">-->
    <!--<a href="#">-->
    <!--<img class="media-object" src="..." alt="...">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--<h4 class="media-heading">Middle aligned media</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>