<!-- HEADER -->
<table class="head-wrap" bgcolor="#999999">
  <tr>
    <td></td>
    <td class="header container">
      <div class="content">
        <table bgcolor="#999999">
          <tr>
            <td><img src="http://placehold.it/200x50/"/></td>
            <td align="right"><h6 class="collapse">Klustter &lt;/&gt; CODE STORE</h6></td>

          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">
      <div class="content">
        <table>
          <tr>
            <td>
              <h3>Parabéns, <%= "#{@user.member.member_name} #{@user.member.member_last_name}" %></h3>

              <p class="lead">Voê acaba de adquirir um dos nossos scripts!</p>

              <p><img src="http://placehold.it/600x300"/></p><!-- /hero -->
              <p class="callout">
                Agora você pode realizar o download do script <a href="#">aqui!</a>
              </p>

              <h3>Próximos passos:</h3>

              <p>Com o script em mãos você esta pronto para no seu sistema!</p>

              <p>Siga os passos a seguir para realizar essa instalação:</p>
              <ul>
                <li>Baixe o app no JAVA <a hrememeberf="#">link</a></li>
                <li>Execute os passo 1..</li>
                <li>Execute os passo 2..</li>
                <li>Execute os passo 3..</li>
              </ul>
              <hr>
              <fieldset>
                <br>
                <legend>Detalhes:</legend>
                <p>
                  <strong>Definição:</strong>
                  <br>
                  <span><%= @script.definition %></span>
                </p>
                <p>
                  <strong>Descrição: </strong>
                  <br>
                  <span><%= @script.long_text %></span>
                </p>
                <p>
                  <strong>Plataforma: </strong>
                  <span><%= @script.platform %></span>
                </p>
                <% if @script.requirements.size > 0 %>
                    <p>
                      <strong>Requerimentos: </strong>
                    </p>
                    <div>
                      <ul>
                        <% @script.requirements.each do |requirement| %>
                            <li><%= requirement.requirement %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <hr>
                <p class="callout">Valor: <%= @script.price.value %> </p>
              </fieldset>
              <hr>
              <br>
              <table class="social" width="100%">
                <tr>
                  <td>
                    <table align="left" class="column">
                      <tr>
                        <td>
                          <h5 class="">Redes Sociais:</h5>

                          <p class="">
                            <a href="#" class="soc-btn fb">Facebook</a>
                            <a href="#" class="soc-btn tw">Twitter</a>
                            <a href="#" class="soc-btn gp">Google+</a>
                          </p>
                        </td>
                      </tr>
                    </table>
                    <table align="left" class="column">
                      <tr>
                        <td>
                          <h5 class="">Contato:</h5>

                          <p>Fone: <strong>(11) 2173-7650</strong><br/>
                            Email:<strong><a href="emailto:klustter.codestore@gilioconsultoria.com">klustter.codestore@gilioconsultoria.com</a></strong>
                          </p>
                        </td>
                      </tr>
                    </table>
                    <span class="clear"></span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>
                <a href="#">Termos</a> |
                <a href="#">Privacidade</a> |
                <a href="#">
                  <unsubscribe>Unsubscribe</unsubscribe>
                </a>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>