<body>
<div class="background">
  <div id="header">
    <%= image_tag("klustter_logo.png", height: '100px', width: '300px') %>
    <br>
    <p>
     <h1 color="orange"><font size="7"><b>Obrigado.</b> </font></h1>
    </p>
  </div>

  <div id="section">
    <table>
      <tbody>
      <tr>
        <td><h3><strong>Você fez o consumo do script :</strong></h3></td>
        <td><h3><strong><%= @invoice.script.name %></strong></h3></td>
      </tr>
      <tr>
        <td><h3><strong>Protocolo de Consumo</strong></h3></td>
        <td><h3><strong><%= @invoice.id%></strong></h3></td>
      </tr>
      <tr>
        <td><h3><strong>Data do Consumo</strong></h3></td>
        <td><h3><strong><%= @invoice.created_at.strftime("%b, %m %Y - %H:%M") %></strong></h3></td>
      </tr>
      <tr>
        <td><h3><strong>Valor </strong></h3></td>
        <td><h3><strong><%= @invoice.value %></strong></h3></td>
      </tr>
      <tr>
        <td><h3><strong><%=  link_to "Download Aqui!", @link_to_file %></strong></h3></td>
      </tr>
      </tbody>
    </table>
    <p>

    <h3>O pagamento está disponível no seu extrato de consumo e o prazo para pagamento está
      dentro dos acordos comerciais previamente definidos na assinatura do contrato. </h3>
    </p>

    <p>

    <h3>Precisa de ajuda ?</h3></p>
    <p>

    <h3>Contacte o canal de parceiros com o número do protocolo de consumo em mãos.</h3></p>

    <table>
      <tbody>
      <tr>
        <td><h3>Telefone:</h3></td>
        <td><h3>xx xxx x xxxx-xxxx</h3></td>
      </tr>
      <tr>
        <td><h3>Email:</h3></td>
        <td><h3><a href="emailto:b2b@klustter.com.br">parceiros@klustter.com</a></h3></td>
      </tr>
      </tbody>
    </table>
    <p>

    <h3>Não responda essa mensagem.</h3></p>

  </div>

  <div id="footer">
    <%= image_tag("klustter_logo.png", height: '60px', width: '170px') %>
    <p>

    <h3>Saiba mais sobre nós, acesse <a href="www.klustter.com.br">www.klustter.com.br</a></h3>

    <h3>Siga-nos </h3>
    </p>
    <a href="#"><image src="<%= image_url("logo/face_logo.png") %>" height= "60px" width="60px"/>  </a>
    <a href="#"><image src="<%= image_url("logo/google_logo.png") %>" height= "60px" width="60px"/> </a>
    <a href="#"><image src="<%= image_url("logo/twitter_logo.png") %>" height= "60px" width="60px" /></a>
    <a href="#"><image src="<%= image_url("logo/youtube_logo.png") %>" height= "60px" width="60px" /> </a>
    <a href="#"><image src="<%= image_url("logo/instagram_logo.png") %>" height= "60px" width="60px" /> </a>

  </div>
</div>
</body>

<style>


    h1 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
    }

    h3 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 15.4px;
    }

    p {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }

    blockquote {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 21px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 30px;
    }

    pre {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 18.5714px;
    }

    h1 {
        color: orange
    }

    #header {
        background-color: white;
        color: black;
        text-align: left;
        padding: 5px;
    }

    #nav {
        line-height: 30px;
        background-color: #eeeeee;
        height: 300px;
        width: 100px;
        float: left;
        padding: 5px;
    }

    #section {
        width: 650px;
        float: left;
        padding: 10px;
    }

    #footer {
        background-color: white;
        color: black;
        clear: both;
        text-align: left;
        padding: 5px;
    }
</style>