<p id="notice"><%= notice %></p>

<p>
  <strong>Search term:</strong>
  <%= @query.search_term %>
</p>

<p>
  <strong>User:</strong>
  <%= @query.user_id %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
