<p id="notice"><%= notice %></p>

<h1>Listing File Tags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_tags.each do |file_tag| %>
      <tr>
        <td><%= file_tag.name %></td>
        <td><%= link_to 'Show', file_tag %></td>
        <td><%= link_to 'Edit', edit_file_tag_path(file_tag) %></td>
        <td><%= link_to 'Destroy', file_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File tag', new_file_tag_path %>
