<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2><%= t 'labels.reports.page_header'%></h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><%= t 'labels.reports.invoice_report_created' %></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <%= form_tag(invoice_report_per_date_reports_path, method: :get) do %>
                  <p> <%= t 'labels.reports.invoice_created_at' %> :</p>

                  <p>
                    <%= t 'labels.reports.start_date' %>: <%= date_field_tag 'invoices_start_date', class: 'form-control' %>
                    <%= t 'labels.reports.end_date' %>: <%= date_field_tag 'invoices_end_date' %>
                    Status: <%= select_tag "invoice_status_id", options_from_collection_for_select(InvoiceStatus.all, :id, :description) %>
                    <%= submit_tag "#{t 'labels.reports.generate_report'}", class: 'btn btn-success btn-xs' %>
                  </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
