<!--Fim Avatar-->
<!--Inicio Pesquisa-->
<li>
  <%= link_to searches_path do %>
      <i class="fa fa-search fa-fw" aria-hidden="true"></i>  <span class="nav-label"> Find Solutions </span>
  <% end %>
</li>
<!--Fim Pesquisa -->
<!--Inicio Dashboard-->
<li>
  <%= link_to admin_members_path do %>
      <i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span>
<% end %>
</li>
<!--Fim Dashboard-->

<!--Inicio Scripts-->
<li>
  <%= link_to contributor_members_path do %>
      <i class="fa fa-file-code-o fa-fw" aria-hidden="true"></i> <span class="nav-label"> Scripts </span>
  <% end %>
</li>
<!--Fim Scripts-->

<!--Incio Conta Corrente-->
<li>
  <%= link_to checking_accounts_path do %>
      <i class="fa fa-cc fa-fw" aria-hidden="true"></i> <span class="nav-label"> Checking Account </span>
  <% end %>
</li>
<!--Fim Conta Corrente-->


<!--Incio Invoices-->
<li>
  <%= link_to invoices_path do %>
      <i class="fa fa-database fa-fw" aria-hidden="true"></i> <span class="nav-label"> Invoices </span>
  <% end %>
</li>
<!--Fim Invoices-->

<!--Incio ProcessModules-->
<li>
  <%= link_to process_modules_path do %>
      <i class="fa fa-cogs fa-fw" aria-hidden="true"></i> <span class="nav-label">Process Modules</span>
  <% end %>
</li>
<!--Fim ProcessModules-->


