<!--Fim Avatar-->
<!--Inicio Pesquisa-->
<!--Fim Pesquisa -->
<!--Inicio Dashboard-->
<li>
  <%= link_to members_path do %>
      <i class="fa fa-th-large"></i> <span class="nav-label"> <%= t 'labels.menu.dash_board' %></span>
<% end %>
</li>
<!--Fim Dashboard-->

<!--Inicio Scripts-->
<li>
  <%= link_to member_scripts_path  do %>
      <i class="fa fa-file-code-o fa-fw" aria-hidden="true"></i> <span class="nav-label"> <%= t 'labels.menu.script' %> </span>
  <% end %>
</li>
<!--Fim Scripts-->

<!--Incio Conta Corrente-->
<li>
  <%= link_to checking_accounts_path do %>
      <i class="fa fa-cc fa-fw" aria-hidden="true"></i> <span class="nav-label"> <%= t 'labels.menu.checking_account' %> </span>
  <% end %>
</li>
<!--Fim Conta Corrente-->
<!--Inicial Publications-->
<li>
  <%= link_to publications_path do %>
      <i class="fa fa-files-o fa-fw" aria-hidden="true"> </i> <span class="nav-label"> <%= t 'labels.menu.publications' %></span> <span class="label label-primary" id="count-new"> <%= t 'labels.menu.publications_news' %> <%=  Publication.all.count -  ViewPublication.where(user_id: current_user.id).count  %></span>
  <% end %>
</li>
<!--Fim Publications-->
