<!--Fim Avatar-->
<!--Inicio Pesquisa-->
<li>
  <%= link_to searches_path do %>
      <i class="fa fa-search fa-fw" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.find_solutions' %> </span>
  <% end %>
</li>
<!--Fim Pesquisa -->
<!--Inicio Dashboard-->
<li>
  <%= link_to admin_members_path do %>
      <i class="fa fa-th-large"></i> <span class="nav-label"><%= t 'labels.menu.dash_board' %></span>
  <% end %>
</li>
<!--Fim Dashboard-->

<!--Inicio Scripts-->
<li>
  <%= link_to member_scripts_path do %>
      <i class="fa fa-file-code-o fa-fw" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.script' %> </span>
  <% end %>
</li>
<!--Fim Scripts-->

<!--Incio Conta Corrente-->
<li>
  <%= link_to checking_accounts_path do %>
      <i class="fa fa-cc fa-fw" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.checking_account' %> </span>
  <% end %>
</li>
<!--Fim Conta Corrente-->


<!--Incio Invoices-->
<li>
  <%= link_to invoices_path do %>
      <i class="fa fa-database fa-fw" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.invoices' %> </span>
  <% end %>
</li>
<!--Fim Invoices-->

<!--Incio ProcessModules-->
<li>
  <%= link_to process_modules_path do %>
      <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.process_modules' %></span>
  <% end %>
</li>
<!--Fim ProcessModules-->
<!--Incio Reports-->
<li>
  <%= link_to reports_path do %>
      <i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.reports' %></span>
  <% end %>
</li>
<!--Fim Reports-->
<!--Incio  Server Tools-->
<li>
  <%= link_to Rails.configuration.adm_server do %>
      <i class="fa fa-server fa-fw" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.server_tools' %></span>
  <% end %>
</li>
<!--Fim Server Tools-->

<!--Incio Searchjoy-->
<li>
  <%= link_to '/admin/searchjoy' do %>
      <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.analytics' %></span>
  <% end %>
</li>
<!--Fim Searchjoy-->
<!--Inicial Publications-->
<li>
  <%= link_to publications_path do %>
      <i class="fa fa-files-o fa-fw" aria-hidden="true"> </i>
      <span class="nav-label"> <%= t 'labels.menu.publications' %></span>
      <span class="label label-primary" id="count-new"> <%= t 'labels.menu.publications_news' %> <%= Publication.all.count - ViewPublication.where(user_id: current_user.id).count %></span>
  <% end %>

</li>
<!--Fim Publications-->

<!--Inicio maily-->
<li>
  <%= link_to '/maily' do %>
      <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
      <span class="nav-label"> Maily </span>
  <% end %>
</li>
<!--Fim maily-->