<!--Fim Avatar-->
<!--Inicio Dashboard-->
<li>
  <%= link_to admin_members_path do %>
      <i class="typcn typcn-th-large-outline" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.dash_board' %></span>
  <% end %>
</li>
<!--Fim Dashboard-->
<!--Inicio Pesquisa-->
<li>
  <%= link_to searches_path do %>
      <i class="typcn typcn-zoom" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.find_solutions' %> </span>
  <% end %>
</li>
<!--Fim Pesquisa -->

<!--Inicio Landing Page Admin-->
<li>
  <%= link_to landing_page_admins_path do %>
      <i class="typcn typcn-news" aria-hidden="true"></i>
      <span class="nav-label">Lading Page Admin </span>
  <% end %>
</li>
<!--Fim Landing Page Admin -->

<!--Inicio categorizing-->
<li>
  <%= link_to script_categories_path do %>
      <i class="typcn typcn-th-list-outline" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.categorizing' %> </span>
  <% end %>
</li>
<!--Fim categorizing -->

<!--Inicio Categogrizar-->
<li>
  <%= link_to categories_path do %>
      <i class="typcn typcn-th-list-outline" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.category' %> </span>
  <% end %>
</li>
<!--Fim Categogrizar -->

<!--Inicio Scripts-->
<li>
  <%= link_to member_scripts_path do %>
      <i class="typcn typcn-code" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.my_scripts' %> </span>
  <% end %>
</li>
<!--Fim Scripts-->

<!--Inicio Minhas licencsas-->
<li>
  <%= link_to licenses_path do %>
      <i class="typcn typcn-key-outline" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.licesnses' %></span>
  <% end %>
</li>
<!--Fim Minhas licencsas-->

<!--Incio Conta Corrente-->
<li>
  <%= link_to checking_accounts_path do %>
      <i class="typcn typcn-credit-card" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.checking_account' %> </span>
  <% end %>
</li>
<!--Fim Conta Corrente-->


<!--Incio Invoices-->
<li>
  <%= link_to invoices_path do %>
      <i class="typcn typcn-database" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.invoices' %> </span>
  <% end %>
</li>
<!--Fim Invoices-->

<!--Incio ProcessModules-->
<li>
  <%= link_to process_modules_path do %>
      <i class="typcn typcn-flow-children" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.process_modules' %></span>
  <% end %>
</li>
<!--Fim ProcessModules-->
<!--Incio Reports-->
<li>
  <%= link_to reports_path do %>
      <i class="typcn typcn-chart-bar-outline" aria-hidden="true"></i>
      <span class="nav-label"> <%= t 'labels.menu.reports' %></span>
  <% end %>
</li>
<!--Fim Reports-->
<!--Incio  Server Tools-->
<li>
  <%= link_to Rails.configuration.adm_server do %>
      <i class="typcn typcn-device-desktop" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.server_tools' %></span>
  <% end %>
</li>
<!--Fim Server Tools-->

<!--Incio Searchjoy-->
<li>
  <%= link_to '/admin/searchjoy' do %>
      <i class="typcn typcn-chart-line-outline" aria-hidden="true"></i>
      <span class="nav-label"><%= t 'labels.menu.analytics' %></span>
  <% end %>
</li>
<!--Fim Searchjoy-->

<!--Incio Elastic-->
<li>
  <%= link_to Rails.configuration.elasticsearch, :target => "_blank" do %>
      <i class="typcn typcn-chart-line-outline" aria-hidden="true"></i>
      <span class="nav-label">ElasticHQ</span>
  <% end %>
</li>
<!--Fim Elastic-->
<!--Inicial Publications-->
<li>
  <%= link_to publications_path do %>
      <i class="typcn typcn-document-text " aria-hidden="true"> </i>
      <span class="nav-label"> <%= t 'labels.menu.publications' %></span>
      <span class="label label-primary" id="count-new"> <%= t 'labels.menu.publications_news' %></span>
  <% end %>

</li>
<!--Fim Publications-->

<!--Inicio maily-->
<li>
  <%= link_to '/maily' do %>
      <i class="typcn typcn-mail" aria-hidden="true"></i>
      <span class="nav-label"> Maily </span>
  <% end %>
</li>
<!--Fim maily-->
<!--Inicio maily-->
<li>
  <%= link_to Rails.configuration.mailcatcher, :target => "_blank" do %>
      <i class="typcn typcn-mail typcn-fw" aria-hidden="true"></i>
      <span class="nav-label"> MailCatcher </span>
  <% end %>
</li>
<!--Fim maily-->
<!--Inicio service monitors-->
<li>
  <%= link_to service_monitors_path do %>
      <i class="typcn typcn-device-desktop typcn-fw" aria-hidden="true"></i>
      <span class="nav-label"> Services Monitor </span>
  <% end %>
</li>
<!--Fim service monitor-->
