<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-logo">
          <%= image_tag 'logo-klustter.png' %>
        </div>
        <div class="dropdown profile-element">
                     <span>
                       <%= link_to edit_user_registration_path do %>
                          <% unless @current_user.avatar_url.present? %>
                              <img alt="image" class="img-circle" src="<%= image_url 'avatar-n-60x60.png' %>"/>
                          <% else %>
                              <%= image_tag @current_user.avatar.circle_avatar.url.to_s, class: 'img-circle' %>
                          <% end %>
                       <% end %>
                    </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                          <span class="block m-t-xs">
                            <strong class="font-bold"><%= current_user.full_name %></strong>
                          </span>
                          <span class="text-muted text-xs block"><%= get_function %> <b class="caret"></b></span>
                        </span>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <%= drop_down_render %>
            </ul>
          </a>
        </div>
        <div class="logo-element">

        </div>
      </li>
      <% if current_user.is_customer? %>
          <%= render 'layouts/bar_customer' %>
      <% elsif current_user.is_contributor? %>
          <%= render 'layouts/bar_contributor' %>
      <% elsif current_user.is_god? %>
          <%= render 'layouts/bar_admin' %>
      <% end %>
    </ul>
  </div>
</nav>
