<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Klustter" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Code Store" %>">
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- Include style per-controller - vendor plugins -->
  <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
  <!--Chat faye-->

  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Exo 2:500,900,200' rel='stylesheet' type='text/css'>
  <!-- BEGIN JIVOSITE CODE {literal} -->
  <script type='text/javascript'>
      (function () {
          var widget_id = 'vUtmZtdtYD';
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//code.jivosite.com/script/widget/' + widget_id;
          var ss = document.getElementsByTagName('script')[0];
          ss.parentNode.insertBefore(s, ss);
      })();

  </script>
  <!-- {/literal} END JIVOSITE CODE -->
</head>
<body>
<%= Gon::Base.render_data %>
<!-- Wrapper-->
<div id="wrapper" class="<%= params[:controller] %>-<%= params[:action] %>">
  <!-- Navigation -->
  <%= render 'layouts/navigation' %>
  <!-- Page wraper -->
  <div id="page-wrapper" class="gray-bg <%= @extra_class %>">

    <!-- Page wrapper -->
    <%= render 'layouts/topnavbar' %>

    <!-- Main view  -->
    <%= yield %>
    <br>
    <!-- Footer -->
    <%= render 'layouts/footer' %>

  </div>
  <!-- End page wrapper-->
</div>

</body>
</html>