<%= raw t 'labels.dash_invoice_header' %>
<hr>
<div class="row">
  <% InvoiceStatus.all.each do |invoice_status| %>
      <%=
        color = dash_invoice_panel_color(invoice_status.id)
        icon = dash_invoice_icon(invoice_status.id)
        header_description = "#{invoice_status.get_status_pt_br}(s)"
        header_count = Invoice.where('invoice_status_id = ?', invoice_status.id).count
        link_path =  invoice_orchestration_invoices_path(invoice_status_id: invoice_status.id)
        widget_dash_board(color, icon, header_description, header_count, link_path)
      %>
  <% end %>
</div>
<br>
<table class="table">
  <tbody>
  <tr>
    <td>
      <button type="button" class="btn btn-danger m-r-sm"><%= Invoice.where('shipped_to is not null and DATE(ship_date) = ? ', Date.today).count %></button>
      Faturas enviadas hoje
    </td>
    <td>
      <button type="button" class="btn btn-primary m-r-sm"><%= Invoice.where('shipped_to is not null and DATE(ship_date) > ? and DATE(ship_date) <= ? ', Date.today.beginning_of_week, Date.today.end_of_week).count %></button>
      Faturas enviadas essa senama
    </td>
    <td>
      <button type="button" class="btn btn-info m-r-sm"><%= Invoice.where('shipped_to is not null and DATE(ship_date) > ? and DATE(ship_date) <= ? ', Date.today.beginning_of_month, Date.today.end_of_month).count %></button>
      Faturas enviadas esse mês
    </td>
  </tr>
  </tbody>
</table>
