<%= raw t 'labels.dash_script_header' %>
<hr>
<div class="row">
  <% Status.all.each do |status| %>
      <% if status.id != Status::INICIAL %>
          <%=
            color = dash_status_script_panel_color(status.id)
            icon = dash_status_script_icon(status.id)
            header_description = dash_status_script_friendly_description(status.id)
            header_count = Script.where('status_id = ?', status.id).count
            link_path = script_orchestration_scripts_path(status_id: status.id)
            widget_dash_board(color, icon, header_description, header_count, link_path)
          %>
      <% end %>
  <% end %>
  <%=
    # Sem Preço
    color = 'red-bg'
    icon = 'tronik tronik-tronik-no-price tronik-3x'
    header_description = t 'labels.dash_without_price'
    header_count = Script.where('has_price is null or has_price = 0 ').count
    link_path = script_prices_prices_path
    widget_dash_board(color, icon, header_description, header_count, link_path)
  %>
  <%=
    # Sem Categoriar
    color = 'lazur-bg'
    icon = 'tronik tronik-tag tronik-3x'
    header_description = t 'labels.dash_categoria'
    header_count = Script.all.count - Script.joins(:script_category).count
    link_path = script_categories_path
    widget_dash_board(color, icon, header_description, header_count, link_path)
  %>
  <%=
    # Com preço
    color = 'green-bg'
    icon = 'tronik tronik-tag tronik-3x'
    header_description = t 'labels.dash_with_price'
    header_count = Script.where('has_price is not null or has_price != 0 ').count
    link_path = prices_path
    widget_dash_board(color, icon, header_description, header_count, link_path)
  %>
  <%=
    # Imcompletos
    color = 'red-bg'
    icon = 'tronik tronik-puzzle-outline tronik-3x'
    header_description = t 'labels.dash_not_complete'
    header_count = Script.where("status_id = #{Status::INICIAL}").count
    link_path = script_orchestration_scripts_path(status_id: Status::INICIAL)
    widget_dash_board(color, icon, header_description, header_count, link_path)
  %>
  <%=
    # Todos os scripts
    color = 'blue-bg'
    icon = 'tronik tronik-eye-outline tronik-3x'
    header_description = t 'labels.all_scripts'
    header_count = Script.all.count
    link_path = all_scripts_member_scripts_path
    widget_dash_board(color, icon, header_description, header_count, link_path)
  %>
</div>
<br>
<table class="table">
  <tbody>
  <tr>
    <td>
      <button type="button" class="btn btn-danger m-r-sm"><%= Invoice.where('DATE(pay_date) = ? ', Date.today).count %></button>
      Scripts vendidos hoje
    </td>
    <td>
      <button type="button" class="btn btn-primary m-r-sm"><%= Invoice.where('DATE(pay_date) > ? and DATE(ship_date) <= ? ', Date.today.beginning_of_week, Date.today.end_of_week).count %> </button>
      Scripts vendidos essa semana
    </td>
    <td>
      <button type="button" class="btn btn-info m-r-sm"><%= Invoice.where('DATE(pay_date) > ? and DATE(ship_date) <= ? ', Date.today.beginning_of_month, Date.today.end_of_month).count %> </button>
      Scripts vendidos esse mês
    </td>
  </tr>
  </tbody>
</table>


