<div class="row">
  <div class="col-lg-12">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Scripts Workflow
          <small>control statuses of scripts</small>
        </h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <% Status.all.each do |status| %>
              <% if status.id != 6 %>
                  <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="widget style1 <%= dash_admin_panel_color(status.id) %>">
                      <div class="row">
                        <div class="col-xs-4">
                          <i class="<%= dash_admin_icon(status.id) %>"></i>
                        </div>
                        <div class="col-xs-8">
                          <h4><%= "#{status.description}(s)" %></h4>
                          <h2 class="font-bold"><%= @status_count = Script.where('status_id = ?', status.id).count %></h2>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-xs-12 dash_links">
                          <%= link_to script_orchestration_scripts_path(status_id: status.id) do %>
                              <span class="pull-left">View Details</span>
                              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                        <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
          <% end %>

          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="widget style1 red-bg">
              <div class="row">
                <div class="col-xs-4">
                  <i class="fa fa-exclamation fa-5x"></i>
                </div>
                <div class="col-xs-8">
                  <h4>Whithout Price</h4>

                  <h2 class="font-bold"><%= Script.where('has_price is null or has_price = 0 ').count %></h2>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12 dash_links">
                  <%= link_to script_prices_prices_path do %>
                      <span class="pull-left">View Details</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="widget style1 red-bg">
              <div class="row">
                <div class="col-xs-4">
                  <i class="fa fa-exclamation fa-5x"></i>
                </div>
                <div class="col-xs-8">
                  <h4>Not Complete</h4>
                  <h2 class="font-bold"><%= Script.where('status_id = 6 and DATE(created_at) < ?', Date.today).count %></h2>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-xs-12 dash_links">
                  <%= link_to script_orchestration_scripts_path(status_id: 6) do %>
                      <span class="pull-left">View Details</span>
                      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                      <div class="clearfix"></div>
                 <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


