<div class="panel panel-default">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseScript"><i class="fa fa-bell fa-fw"></i> Scripts
      Notifications</a>
  </div>
  <div id="collapseScript" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="list-group">
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-money fa-fw"></i> Script(s) Sold Today
                                    <span class="pull-right text-muted small"><em><%= Invoice.where('DATE(pay_date) = ? ', Date.today).count %></em>
                                    </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-money fa-fw"></i> Script(s) Sold This Week
                                    <span class="pull-right text-muted small"><em><%= Invoice.where('DATE(pay_date) > ? and DATE(ship_date) <= ? ', Date.today.beginning_of_week, Date.today.end_of_week).count %> </em>
                                    </span>
          </a>
          <a href="#" class="list-group-item">
            <i class="fa fa-money fa-fw"></i> Script(s) Sold This Month
                                    <span class="pull-right text-muted small"><em><%= Invoice.where('DATE(pay_date) > ? and DATE(ship_date) <= ? ', Date.today.beginning_of_month, Date.today.end_of_month).count %> </em>
                                    </span>
          </a>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Script Sold
          </div>
          <div class="panel-body">
            <%= line_chart Invoice.group_by_day(:pay_date).count %>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Script Created
          </div>
          <div class="panel-body">
            <%= line_chart Script.group_by_day(:created_at).count %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Script Platform
          </div>
          <div class="panel-body">
            <%= pie_chart Script.group(:platform).count %>
          </div>
          <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Script Industry
          </div>
          <div class="panel-body">
            <%= pie_chart Script.group(:industry).count %>
          </div>
          <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Script Complexity
          </div>
          <div class="panel-body">
            <%= pie_chart Script.group(:complexity).count %>
          </div>
          <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
        </div>
      </div>
      <!--<a href="#" class="btn btn-default btn-block">View All Alerts</a>-->
    </div>
  </div>
</div>