<h3> Faturas</h3>
<div class="panel panel-default">
  <div class="panel-heading">
    Pagamento Faturas
  </div>
  <div class="panel-body">
    <%= line_chart Invoice.group_by_day(:pay_date).count %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Faturas Criadas
  </div>
  <div class="panel-body">
    <%= line_chart Invoice.group_by_day(:created_at).count %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Faturas enviadas
  </div>
  <div class="panel-body">
    <% InvoiceStatus.all do |status| %>
        <%= status.description %>
    <% end %>
    <%= line_chart Invoice.group_by_day(:ship_date).count %>
  </div>
</div>
<div class="panel panel-default">
  <div>
    Status Faturas
  </div>
  <div class="panel-body">
    1-Aguardando <br>
    2-Enviadas<br>
    3-Completa<br>
    4-Cancelado
    <%= pie_chart Invoice.group(:invoice_status_id).count %>
  </div>
</div>