<%= render 'layouts/messages' %>
<div class="row wrapper page-heading">
  <div class="col-lg-10">
    <h2>Admin Dashboard</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <%= render 'dash_dials_script_admin' %>
  <br>
  <%= render 'dash_dials_invoice_admin' %>
  <br>
  <%= render 'dash_notification_invoice_admin_panel' %>
  <br>
  <%= render 'dash_notification_script_admin_panel' %>
</div>


