<div id="wrapper">
  <%= render 'layouts/side_bar' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h1>Admin Dashboard</h1>
      </div>
    </div>
    <hr>
    <% ActiveRecord::Base.default_timezone = :utc %>
    <div class="row">
      <%= render 'dash_dials_script_admin' %>
      <%= render 'dash_dials_invoice_admin' %>
    </div>
    <div class="row">
      <%= render 'dash_notification_invoice_admin_panel' %>
      <%= render 'dash_notification_script_admin_panel' %>
      <div class="col-lg-12">
        <!--<%= render 'dash_chat' %>-->
      </div>
    </div>
    <% ActiveRecord::Base.default_timezone = :local %>
  </div>
</div>



