<%= render 'layouts/messages' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Admin Dashboard</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
  <!--<div class="row">-->
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    <!--<div class="col-lg-12">-->
      <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-content text-center p-md">-->
          <!--<h2>-->
            <!--<span class="text-navy">Painel Administrativo</span>-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
            <!--<br/>in ullamcorper nunc. Aliquam convallis faucibus risus, ac ultricies est auctor at.-->
          <!--</h2>-->

          <!--<p>-->
            <!--Curabitur pulvinar ex non urna luctus, sed sollicitudin diam fringilla.-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
    <%= render 'dash_dials_script_admin' %>
    <%= render 'dash_dials_invoice_admin' %>
    <%= render 'dash_notification_invoice_admin_panel' %>
    <%= render 'dash_notification_script_admin_panel' %>
</div>


