<div id="wrapper">
  <%= render 'layouts/side_bar' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h2>Incomplete Actions</h2>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <p> Os Scripts abaixo apresenstam alguma inconsistência e não foram gravados por completo.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default center">
            <div class="panel-body">
              <div class="table-responsive" id="incomplete_actions">
                <table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Platform</th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @scripts_incomplete.each do |s| %>
                      <tr>
                        <td><%= s.id %></td>
                        <td><%= s.name %></td>
                        <td><%= s.description %></td>
                        <td><%= s.platform %></td>
                        <td><%= link_to 'Edit', edit_script_path(id: s.id), class: 'btn btn-warning btn-xs' %></td>
                        <td><%= link_to 'Delete', destroy_incomplete_script_scripts_path(id: s.id), data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-xs' %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>