<div id="wrapper">
  <%= render 'layouts/side_bar_contributor' %>
  <div id="page-wrapper">
    <%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-12">
        <h2>Orchestration for status: <%= @status.description %> </h2>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <hr>
      <%= link_to 'Admin Dashboard', admin_members_path, class: 'btn btn-default' %>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default center">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="pull-left">
                    <%= collection_select(:status, :id, Status.all, :id, :description, { :prompt => true, :include_blank => 'Select status' , :selected => 'Select status' }, {:class => 'form-control'}) %>
                  </div>
                  <div class="pull-right">
                    <input type="submit" class="btn btn-default" value="Submit Status" >
                  </div>
                </div>
              </div>
              <hr>
              <div class="table-responsive">
                <table class="table table-bordered table-condensed" id="script-orchestration">
                  <thead>
                  <tr>
                    <th><input type="checkbox" id="check_all_orchestration"></th>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Platform</th>
                    <th>Days</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @scripts.each do |script| %>
                      <tr>
                        <td><%= check_box_tag "script_ids[]", script.id %></td>
                        <td><%= script.id %></td>
                        <td><%= script.status.description %></td>
                        <td><%= script.name %></td>
                        <td><%= script.description %></td>
                        <td><%= script.platform %></td>
                        <td><%= (Date.today - script.updated_at.to_date).to_i %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>